/*Variables*/
body {
  margin: 0;
  font-family: "Sora", sans-serif;
  background-color: #121619;
}

.content-wrapper {
  max-width: 1720px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  font-size: clamp(1em, 1.5vw, 1.5em);
  font-weight: 400;
}
.nav .home {
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  font-weight: 600;
}
.nav .home a {
  text-decoration: none;
  color: #CE1126;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  margin-left: clamp(50px, 6vw, 100px);
  text-decoration: none;
  color: #438806;
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.5s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #F0A202;
  border-bottom-width: 4px;
}

/*Content Styles*/
.title-gif {
  padding-top: 75px;
}

.title-gif img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.title-subheading {
  color: #F0A202;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
}

.project-details {
  color: #F0A202;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
}

.video {
  padding-top: 125px;
  text-align: center;
}

.video iframe {
  width: 1280px;
  height: 720px;
}

.paragraph {
  color: #F0A202;
  width: 1280px;
  margin: auto;
  font-size: 2em;
  font-weight: 500;
  padding-top: 50px;
}

.full-size-image {
  padding-top: 100px;
}

.full-size-image img {
  width: 100%;
  height: auto;
}

.collage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  grid-column-gap: 20px;
  padding-top: 100px;
}

.left-image {
  grid-column: 1/2;
}

.right-image {
  grid-column: 2/3;
}

.collage-image img {
  padding-top: 20px;
  width: 100%;
  height: auto;
}

.gif-line-one {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.gif-line-one img {
  width: auto;
  height: 400px;
}

.gif-line-two {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.cheeto img {
  width: auto;
  height: 300px;
}

.lime-cross-section {
  padding-top: 25px;
}

.lime-cross-section img {
  width: auto;
  height: 250px;
}

.lime img {
  width: auto;
  height: 300px;
}

/*Footer*/
.footer-wrapper {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  grid-column-gap: 150px;
  background-color: #FFFFFF;
}

.footer-title {
  font-size: 4em;
  font-weight: 700;
  grid-column: 1/4;
}

.ig-animation-wrapper {
  grid-column: 1/2;
}

.linkedin-animation-wrapper {
  grid-column: 2/3;
}

.behance-animation-wrapper {
  grid-column: 3/4;
}

#ig {
  width: 100%;
  height: auto;
  grid-column: 1/3;
}

#linkedin {
  width: 90%;
  height: auto;
  grid-column: 2/3;
}

#behance {
  width: 100%;
  height: auto;
  grid-column: 3/4;
}

.footer-email {
  font-size: 2em;
  font-weight: 500;
  grid-column: 1/4;
  padding-top: 0px;
  text-align: center;
}

.footer-email a {
  text-decoration: none;
  color: #121619;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.5s;
}
.footer-email a:hover {
  border-bottom: 1px solid black;
  border-bottom-width: 3px;
}

/*# sourceMappingURL=brown-justin-bieber-styles.css.map */
