/*Variables*/
$light: #FFFDF4;
$dark: #17171A;
$green: #438806;
$orange: #E28413; //#F0A202
$red: #CE1126;
$horzMarginSize: 5vw;

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

body {
    font-size: 25px;
    width: 100vw;
    height: 100vh;
    background-color: white;

    overflow-x: hidden;
}

h1 {
    font-size: 6em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-weight: 300;
}

.caption {
    font-size: 0.6em;
    font-weight: 300;
}

.white {
    color: white;
}

.bold {
    font-weight: 700;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}

.right {
    text-align: right;
}

/*Loading Screen Styles*/

#loadingScreen {
    position: fixed;
    text-align: center;
    background-color: black;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

#loadingContentWrapper {
    margin: 40vh;
}

.loadingIcon {
    animation: loadingIcon 20s;
    padding: 5vh;
}

@keyframes loadingIcon {
    from {transform: rotate(0deg);}
    to {transform: rotate(2000deg);}
}

.fadeOut {
    animation: fadeOut 1s forwards;
    animation-delay: 1s;
}

@keyframes fadeOut {
    from {opacity: 100%;}
    to {opacity: 0%; pointer-events: none; overflow-y: scroll;}
}

/*Multi Use Styles*/
@mixin head {
    font-size: 80px;
    font-weight: 700;
    
    @media screen and (max-width: 1200px) {
        font-size: 50px;
    }

    @media screen and (max-device-width: 481px) {
        font-size: 80px;
    }
}

@mixin subhead{
    font-size: 26.667px;
    font-weight: 500;

    @media screen and (max-width: 1200px) {
        font-size: 16.667px;
    }

    @media screen and (max-device-width: 481px) {
        font-size: 26.667px;
    }
}

@mixin top-margin {
    margin-top: 100px;

    @media screen and (max-width: 1200px) {
        margin-top: 50px;
    }

    @media screen and (max-device-width: 481px) {
        margin-top: 50px;
    }
}

.head {
    @include top-margin;
    @include head;
}

.subhead {
    @include subhead;
}

body {
    margin: 0;
    background-color: $dark;
 
    font-family: 'Sora', sans-serif;
}

.content-wrapper {
    max-width: clamp(0px, 85%, 1920px);
    margin: auto;
}

/*Navbar Styles*/
#nav {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;

    transition: top 0.3s;

    background-color: black;

    padding: 3vh $horzMarginSize 3vh $horzMarginSize;
    z-index: 900;
}

li {
    display: inline;
    vertical-align: top;

    margin-right: 7.5vw;
    font-weight: 500;
}

#rightNav{
    margin: 0px;
    float: right;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;

    transition: all 0.25s;
}

li a:hover {
    font-size: 1em;
}

/*Content Styles*/
.light-wrapper{
    background-color: $light;
    max-width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.title-gif {
    padding-top: 200px;
}

.title-gif img {
    object-fit: cover;
    width: 100%;
    height: clamp(275px, 30vw, 500px);
}

.title-subheading {
    color: $orange;
    font-size: 80px;
    font-weight: 700;

    text-align: center;
    margin-top: 50px;
}

.project-details {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 150px;

    color: $orange;
    font-size: 40px;
    font-weight: 500;
}

.video {
    @include top-margin;

    text-align: center;
}

.video iframe {
    width: clamp(640px, 75%, 1280px);

    aspect-ratio: 16/9;
}

.paragraph {
    color: $orange;
    width: clamp(640px, 75%, 1280px);
    margin: auto;
    font-size: 32px;
    font-weight: 500;

    @include top-margin;
}

.full-size-image {
    @include top-margin;
}

.full-size-image img {
    width: 100%;
    height: auto;
}

.collage-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    @include top-margin;

    .left-image {   
        grid-column: 1/2;
    }
    
    .right-image {
        
        grid-column: 2/3;
    }
    
    .collage-image img {
        width: 100%;
        height: auto;
    }
}

.gif-line {
    display: flex;
    justify-content: space-between;

    @include top-margin;
}

.gif-line img {
    width: auto;
    height: clamp(150px, 22vw, 400px);
}

.cheeto img {
    width: auto;
    height: clamp(125px, 22vw, 300px);
}

.lime-cross-section {
    padding-top: 25px;
}

.lime-cross-section img {
    width: auto;
    height: clamp(100px, 19vw, 250px);
}

.lime img {
    width: auto;
    height: clamp(125px, 22vw, 300px);
}

/*Footer*/
#footerContainer {
    padding: 50px $horzMarginSize 50px $horzMarginSize;
    background-color: $dark;
}

#backToTop {    
    width: 6vw;
    height: auto;
    aspect-ratio: 1/1;
    margin: auto;
    padding: auto;
    text-align: center;
    line-height: 6vw;
    
    cursor: pointer;
    background-color: $dark;
    color: $light;
    font-size: 4vw;
    border-radius: 100%;
    border: 3px solid $light;

    transition: 0.25s;
}

#backToTop:hover {
    background-color: $light;
    color: $dark;
    border: 3px solid $dark;
}

#idWrapper{
    display: flex;
    width: 750px;
    margin: 25px auto 100px auto;
}

#idWrapper div{
    margin: auto;
}

#captionWrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

@media screen and (max-width: 1200px) {
    .nav {
        font-size: 16.667px;
    }
    
    .title-gif {
        margin-top: 50px;
    }

    .title-gif img {
        height: clamp(200px, 26vw, 300px);
    }

    .title-subheading {
        font-size: 60px;
    }
    
    .project-details {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .paragraph {
        font-size: 25px;    
    }

    .collage-wrapper {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-device-width: 481px) {
    .nav {
        font-size: 25px;
        .pages a {
            margin-left: 30px;        
        }
    }

    .footer-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}