/*Variables*/
/*Multi Use Styles*/
.head {
  margin-top: 100px;
  font-size: 80px;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .head {
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .head {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .head {
    font-size: 80px;
  }
}

.subhead {
  font-size: 26.667px;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .subhead {
    font-size: 16.667px;
  }
}
@media screen and (max-device-width: 481px) {
  .subhead {
    font-size: 26.667px;
  }
}

body {
  margin: 0;
  background-color: #17171A;
  font-family: "Sora", sans-serif;
}

.content-wrapper {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 500;
}
.nav .home {
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  font-weight: 700;
}
.nav .home a {
  text-decoration: none;
  color: #CE1126;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  margin-left: clamp(50px, 6vw, 100px);
  text-decoration: none;
  color: #438806;
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.5s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #E28413;
  border-bottom-width: 4px;
}

/*Content Styles*/
.light-wrapper {
  background-color: #FFFDF4;
  max-width: 100%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.title-gif {
  margin-top: 75px;
}

.title-gif img {
  object-fit: cover;
  width: 100%;
  height: clamp(275px, 30vw, 500px);
}

.title-subheading {
  color: #E28413;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

.project-details {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 150px;
  color: #E28413;
  font-size: 40px;
  font-weight: 500;
}

.video {
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .video {
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .video {
    margin-top: 50px;
  }
}

.video iframe {
  width: clamp(640px, 75%, 1280px);
  aspect-ratio: 16/9;
}

.paragraph {
  color: #E28413;
  width: clamp(640px, 75%, 1280px);
  margin: auto;
  font-size: 32px;
  font-weight: 500;
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .paragraph {
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .paragraph {
    margin-top: 50px;
  }
}

.full-size-image {
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .full-size-image {
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .full-size-image {
    margin-top: 50px;
  }
}

.full-size-image img {
  width: 100%;
  height: auto;
}

.collage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .collage-wrapper {
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .collage-wrapper {
    margin-top: 50px;
  }
}
.collage-wrapper .left-image {
  grid-column: 1/2;
}
.collage-wrapper .right-image {
  grid-column: 2/3;
}
.collage-wrapper .collage-image img {
  width: 100%;
  height: auto;
}

.gif-line {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .gif-line {
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .gif-line {
    margin-top: 50px;
  }
}

.gif-line img {
  width: auto;
  height: clamp(150px, 22vw, 400px);
}

.cheeto img {
  width: auto;
  height: clamp(125px, 22vw, 300px);
}

.lime-cross-section {
  padding-top: 25px;
}

.lime-cross-section img {
  width: auto;
  height: clamp(100px, 19vw, 250px);
}

.lime img {
  width: auto;
  height: clamp(125px, 22vw, 300px);
}

/*Footer*/
.footer-container {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFFDF4;
}
@media screen and (max-width: 1200px) {
  .footer-container {
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .footer-container {
    margin-top: 50px;
  }
}

.footer-wrapper {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
  text-align: center;
}

.footer-link a {
  font-size: 80px;
  font-weight: 700;
  text-decoration: none;
  color: #17171A;
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.25s;
}
@media screen and (max-width: 1200px) {
  .footer-link a {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .footer-link a {
    font-size: 80px;
  }
}
.footer-link a:hover {
  border-bottom: 1px solid #17171A;
  border-bottom-width: 3px;
}

@media screen and (max-width: 1200px) {
  .nav {
    font-size: 16.667px;
  }

  .title-gif {
    margin-top: 50px;
  }

  .title-gif img {
    height: clamp(200px, 26vw, 300px);
  }

  .title-subheading {
    font-size: 60px;
  }

  .project-details {
    font-size: 30px;
    padding-bottom: 50px;
  }

  .paragraph {
    font-size: 25px;
  }

  .collage-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media screen and (max-device-width: 481px) {
  .nav {
    font-size: 25px;
  }
  .nav .pages a {
    margin-left: 30px;
  }

  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=brown-justin-bieber-styles.css.map */
