/*Variables*/
@font-face {
  font-family: "atkinson";
  src: url(assets/Fonts/Atkinson-Hyperlegible-Regular-102a.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "atkinson";
  src: url(assets/Fonts/Atkinson-Hyperlegible-Italic-102a.woff2);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "atkinson";
  src: url(assets/Fonts/Atkinson-Hyperlegible-Bold-102a.woff2);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "atkinson";
  src: url(assets/Fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "old-english";
  src: url(assets/Fonts/Old-English-Text-MT-V2.woff2);
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-color: white;
  font-family: "atkinson", sans-serif;
  color: #000000;
}

.content-wrapper {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  margin-top: clamp(25px, 2.75vw, 50px);
}

/*Multi Use Styles*/
.head {
  font-weight: bold;
  font-size: 80px;
}
@media screen and (max-width: 1200px) {
  .head {
    font-size: 50px;
  }
}

.subhead {
  font-size: 26.667px;
  font-weight: normal;
}
@media screen and (max-width: 1200px) {
  .subhead {
    font-size: 16.667px;
  }
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}
.nav .home {
  font-weight: 700;
}
.nav .home a {
  text-decoration: none;
  color: #000000;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  text-decoration: none;
  color: #000000;
  margin-left: clamp(50px, 6vw, 100px);
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.25s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #000000;
  border-bottom-width: 3px;
}

.intro-image-wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.intro-image-wrapper img {
  width: 100%;
  height: auto;
}

.intro-head {
  margin-top: 50px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  font-family: old-english;
  font-weight: normal;
  color: #000000;
}
@media screen and (max-width: 1200px) {
  .intro-head {
    font-size: 50px;
  }
}

.intro-subhead {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-size: 26.667px;
  font-weight: normal;
  font-weight: bold;
  color: red;
}
@media screen and (max-width: 1200px) {
  .intro-subhead {
    font-size: 16.667px;
  }
}

.text-wrapper1 {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 50%;
}

.clothing-pics-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.image1 img {
  width: 100%;
  height: auto;
}

.image2 img {
  width: 100%;
  height: auto;
}

.text-wrapper2 {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 50%;
  margin-left: auto;
  text-align: end;
}

.patch-designs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  margin-bottom: 50px;
}

.patch-designs img {
  border: 4px solid black;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 3.25fr 1fr;
  margin-bottom: 50px;
}

.row img {
  border: 4px solid black;
  width: 85%;
  height: auto;
  margin: auto;
}

.footer {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #000000;
  height: 350px;
}

@media screen and (max-width: 1200px) {
  .nav {
    font-size: 16.667px;
  }
}

/*# sourceMappingURL=hoodie-styles.css.map */
