/*Variables*/
body {
  margin: 0;
  background-color: #FFFDF4;
  font-family: "Sora", sans-serif;
  color: #17171A;
}

.content-wrapper {
  max-width: clamp(900px, 90%, 1920px);
  margin: auto;
  margin-top: clamp(25px, 2.75vw, 50px);
}

/*Multi Use Styles*/
.head {
  margin-top: 50px;
  font-weight: 700;
  font-size: 80px;
}
@media screen and (max-width: 1200px) {
  .head {
    font-size: 50px;
  }
}

.subhead {
  font-size: 26.667px;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .subhead {
    font-size: 16.667px;
  }
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}
.nav .home {
  font-weight: 700;
}
.nav .home a {
  text-decoration: none;
  color: #17171A;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  text-decoration: none;
  color: #17171A;
  margin-left: clamp(50px, 6vw, 100px);
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.25s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #17171A;
  border-bottom-width: 3px;
}

/*Intro Section Styles*/
.intro-head {
  font-size: 120px;
  font-weight: 700;
  padding-top: 50px;
}

.intro-subhead {
  font-size: 40px;
  font-weight: 500;
}

/*Reel Section Styles*/
.reel-container {
  background-color: #17171A;
}

.reel-wrapper {
  max-width: clamp(900px, 90%, 1920px);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  color: #FFFDF4;
}

.reel-head {
  font-weight: 700;
  font-size: 80px;
}
@media screen and (max-width: 1200px) {
  .reel-head {
    font-size: 50px;
  }
}

.reel-subhead {
  font-size: 26.667px;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .reel-subhead {
    font-size: 16.667px;
  }
}

.reel-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel-video-adjust {
  width: 45vw;
  aspect-ratio: 16/9;
}

.reel-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: clamp(50px, 6%, 100px);
}

/*SPICIEST WORK*/
.work-grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
}

.work-piece,
.work-piece img,
.work-darken-overlay {
  width: clamp(240px, 28vw, 540px);
  height: clamp(240px, 28vw, 540px);
}

.work-piece {
  position: relative;
}

.work-piece img {
  position: absolute;
}

.work-piece a {
  opacity: 0%;
  transition: 0.5s;
}
.work-piece a:hover {
  opacity: 100%;
}

.work-darken-overlay {
  position: absolute;
  background-color: #17171A;
  opacity: 75%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.work-fadein-subtitle {
  position: absolute;
  width: 70%;
  opacity: 100%;
  color: #FFFDF4;
  text-decoration: none;
  font-size: 26.667px;
  font-weight: 500;
}

.need-help-text {
  text-align: center;
}

.reggie-wrapper {
  position: relative;
  width: 430px;
  height: 280px;
  padding-left: 35%;
  padding-top: 25px;
}

.reggie-wrapper img {
  position: absolute;
}

.reggie-wrapper a {
  opacity: 0%;
}
.reggie-wrapper a:hover {
  opacity: 100%;
}

.reggie-overlay {
  position: absolute;
  background-color: #FFFDF4;
  width: 470px;
  height: 280px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.reggie-wrapper a img {
  position: absolute;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.animated-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-logo a video {
  width: clamp(200px, 25vw, 400px) !important;
  height: auto !important;
}

.footer {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #17171A;
  height: 350px;
}

@media screen and (max-width: 1200px) {
  .intro-head {
    font-size: 100px;
  }

  .intro-subhead {
    font-size: 33.333px;
  }

  .subtitle {
    font-size: 16.667px;
  }

  .nav {
    font-size: 16.667px;
  }
}

/*# sourceMappingURL=index-styles.css.map */
