/*Variables*/
body {
  margin: 0;
  background-color: #FFFDF4;
  font-family: "Rubik", sans-serif;
  color: #17171A;
}

.content-wrapper {
  max-width: clamp(640px, 90%, 1720px);
  margin: auto;
  margin-top: 50px;
}

/*Multi Use Styles*/
.head {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 25px;
  font-size: 60px;
  font-weight: 700;
}

.subhead {
  max-width: 1200px;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.green {
  color: #06B475;
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}
.nav .home {
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  font-weight: 700;
}
.nav .home a {
  text-decoration: none;
  color: #17171A;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  margin-left: clamp(50px, 6vw, 100px);
  text-decoration: none;
  color: #17171A;
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.5s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #17171A;
  border-bottom-width: 4px;
}

/*Starting Section*/
.opphub-initial-design {
  text-align: center;
  padding-top: 50px;
}

.opphub-initial-design img {
  width: 55%;
}

.opphub-head {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: 700;
}

.opphub-subhead {
  font-size: 26.667px;
  font-weight: 500;
  padding-bottom: 100px;
}

.website-link a {
  color: #06B475;
}

.video-wrapper {
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px;
}

.video-adjust {
  width: 60%;
}

.mobile-showcase-bg {
  position: absolute;
  z-index: -1;
  background-color: #06B475;
  width: 100%;
  height: 200px;
}

/*Mobile Showcase*/
.mobile-showcase {
  max-width: clamp(640px, 90%, 1720px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.large-bg-text {
  writing-mode: vertical-rl;
  font-weight: 700;
  font-size: clamp(250px, 26vw, 500px);
}

.phone-stack img {
  width: 90%;
  height: auto;
}

.phone-gap {
  height: 150px;
}

/*IG Announcement Post*/
.opphub-ig-post-container {
  background-color: #17171A;
}

.opphub-ig-post-wrapper {
  max-width: clamp(640px, 90%, 1720px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ig-post-head {
  grid-column: 1/3;
  margin: auto;
  font-size: clamp(75px, 8vw, 150px);
  font-weight: 700;
  color: #FFFDF4;
}

.opphub-ig-post-wrapper img {
  width: 100%;
  height: 100%;
}

/*More Work*/
.opptalks-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.opptalks-banner-text {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
  font-weight: 700;
}

.opptalks-wrapper img {
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #17171A;
  height: 350px;
}

@media screen and (max-width: 1200px) {
  .nav {
    font-size: 16.667px;
  }

  /*Multi Use Styles*/
  .head {
    max-width: 800px;
    font-size: 45px;
    padding-bottom: 10px;
  }

  .subhead {
    max-width: 800px;
    font-size: 15px;
    line-height: 1.25;
    padding-bottom: 0px;
  }

  /*Starting Section*/
  .opphub-initial-design {
    padding-top: 50px;
  }

  .opphub-initial-design img {
    width: 55%;
  }

  .opphub-head {
    font-size: 60px;
  }

  .opphub-subhead {
    font-size: 20px;
    padding-bottom: 100px;
  }

  /*Mobile Showcase*/
  .mobile-showcase {
    grid-gap: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .opphub-ig-post-wrapper {
    grid-gap: 15px;
  }
}

/*# sourceMappingURL=opphub-styles.css.map */
