/*Variables*/
body {
  margin: 0;
  background-color: #0D1D3F;
  font-family: "Montserrat", sans-serif;
}

/*Multi Use Styles*/
/*First Section*/
.top-section-container {
  background-image: linear-gradient(to bottom right, white, grey);
}

.top-section-wrapper {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: clamp(25px, 2.75vw, 50px);
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: -500px;
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}
.nav .home {
  font-weight: 700;
}
.nav .home a {
  text-decoration: none;
  color: #0D1D3F;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  text-decoration: none;
  color: #0D1D3F;
  margin-left: clamp(50px, 6vw, 100px);
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.25s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #53B7F2;
  border-bottom-width: 3px;
}

.intro-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.intro-text-wrapper {
  margin-top: 100px;
  margin-bottom: auto;
  color: #0D1D3F;
}

.intro-head {
  font-weight: 700;
  font-size: 80px;
  width: 16ch;
}

.intro-subhead {
  font-weight: 500;
  font-size: 26.667px;
}

.logo img {
  width: 400px;
  height: auto;
}

.text-animation-wrapper-three {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
}

.text-animation-wrapper-two {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 65%;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}

.video-adjust {
  width: 100%;
  height: auto;
  margin-top: calc(var(--order) * 100px);
  border-radius: 10px;
}

/*Page Content*/
.second-section-container {
  background-color: #FFFDF4;
}

.second-section-wrapper {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: -550px;
}

.text-group {
  padding-top: 500px;
  padding-bottom: 50px;
  width: 70%;
  margin: auto;
}

.head {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 80px;
  color: #0D1D3F;
}
@media screen and (max-width: 1200px) {
  .head {
    font-size: 50px;
  }
}

.subhead {
  font-size: 26.667px;
  font-weight: 500;
  color: #465678;
}
@media screen and (max-width: 1200px) {
  .subhead {
    font-size: 16.667px;
  }
}

.text-animation-container {
  background-color: #53B7F2;
}

.third-section-container {
  background-color: #53B7F2;
}

.third-section-wrapper {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 600px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.third-section-wrapper img {
  width: 100%;
  height: auto;
}

.ig-post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
}

.fourth-section-container {
  background-color: #0D1D3F;
}

.fourth-section-wrapper {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.online-video-adjust {
  width: 70%;
  aspect-ratio: 16/9;
  margin: auto;
  display: block;
}

/*Footer*/
.footer {
  padding-bottom: 50px;
  background-color: #17171A;
  height: 350px;
}

/*# sourceMappingURL=pump-styles.css.map */
