/*Variables*/
body {
  margin: 0;
  background-color: #0D1D3F;
  font-family: "Montserrat", sans-serif;
}

/*Multi Use Styles*/
.caption {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #0D1D3F;
}

/*First Section*/
.top-section-container {
  background-image: linear-gradient(to bottom right, white, grey);
}

.top-section-wrapper {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: clamp(25px, 2.75vw, 50px);
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: clamp(-500px, -25vw, -350px);
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}
.nav .home {
  font-weight: 700;
}
.nav .home a {
  text-decoration: none;
  color: #17171A;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  text-decoration: none;
  color: #17171A;
  margin-left: clamp(50px, 6vw, 100px);
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.25s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #17171A;
  border-bottom-width: 3px;
}

/*Intro Graphic and Text*/
.intro-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 100px;
}

.intro-wrapper img {
  width: 80%;
  height: auto;
  margin-left: auto;
}

.intro-text-wrapper {
  margin-top: clamp(50px, 5vw, 100px);
  margin-bottom: auto;
  color: #0D1D3F;
}

.intro-head {
  font-weight: 700;
  font-size: 80px;
  color: #0D1D3F;
}
@media screen and (max-width: 1440px) {
  .intro-head {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .intro-head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 768px) {
  .intro-head {
    font-size: 40px;
  }
}

.intro-subhead {
  font-size: 26.667px;
  font-weight: 500;
  color: #465678;
}
@media screen and (max-width: 1200px) {
  .intro-subhead {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .intro-subhead {
    font-size: 16.667px;
  }
}
@media screen and (max-device-width: 768px) {
  .intro-subhead {
    font-size: 20px;
  }
}
@media screen and (max-device-width: 425px) {
  .intro-subhead {
    font-size: 25px;
  }
}

.text-animation-wrapper-three {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 25px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

.video-adjust {
  width: 100%;
  height: auto;
  margin-top: calc(var(--order) * 100px);
  border-radius: 15px;
}

/*Second Section*/
.content-container {
  background-color: #FFFDF4;
}

.content-wrapper {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.purpose-text-group {
  padding-top: 500px;
  padding-bottom: 50px;
  width: 70%;
  margin: auto;
}

.purpose-head {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 80px;
  color: #0D1D3F;
}
@media screen and (max-width: 1440px) {
  .purpose-head {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .purpose-head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 768px) {
  .purpose-head {
    font-size: 40px;
  }
}

.purpose-subhead {
  font-size: 26.667px;
  font-weight: 500;
  color: #465678;
}
@media screen and (max-width: 1200px) {
  .purpose-subhead {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .purpose-subhead {
    font-size: 16.667px;
  }
}
@media screen and (max-device-width: 768px) {
  .purpose-subhead {
    font-size: 20px;
  }
}
@media screen and (max-device-width: 425px) {
  .purpose-subhead {
    font-size: 25px;
  }
}

.text-animation-wrapper-two {
  max-width: clamp(900px, 85%, 1920px);
  margin: auto;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 150px;
}

.role-text-group {
  padding-top: 100px;
  width: 70%;
  margin: auto;
}

.role-head {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 80px;
  color: #0D1D3F;
}
@media screen and (max-width: 1440px) {
  .role-head {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .role-head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 768px) {
  .role-head {
    font-size: 40px;
  }
}

.role-subhead {
  font-size: 26.667px;
  font-weight: 500;
  color: #465678;
}
@media screen and (max-width: 1200px) {
  .role-subhead {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .role-subhead {
    font-size: 16.667px;
  }
}
@media screen and (max-device-width: 768px) {
  .role-subhead {
    font-size: 20px;
  }
}
@media screen and (max-device-width: 425px) {
  .role-subhead {
    font-size: 25px;
  }
}

.content-wrapper img {
  width: 100%;
  height: auto;
  margin-top: clamp(75px, 6vw, 100px);
  border-radius: 15px;
}

.ig-post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
}

.online-video-adjust {
  width: 70%;
  aspect-ratio: 16/9;
  margin: auto;
  margin-top: clamp(75px, 6vw, 100px);
  display: block;
  border-radius: 15px;
}

.pump-digest-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.pump-pod-wrapper {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  background-color: #0D1D3F;
  border-radius: 15px;
}

.pump-pod-logo {
  width: 70%;
  margin: auto;
}

/*Footer*/
.footer {
  padding-bottom: 50px;
  background-color: #17171A;
  height: 350px;
}

@media screen and (max-width: 1200px) {
  .nav {
    font-size: 16.667px;
  }

  .intro-text-wrapper {
    margin-top: 75px;
  }

  .purpose-text-group {
    padding-top: 300px;
  }

  .text-animation-wrapper-two {
    max-width: clamp(900px, 85%, 1920px);
    margin: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-column-gap: 100px;
  }

  .role-text-group {
    padding-top: 50px;
  }

  .content-wrapper img {
    margin-top: 50px;
  }

  .online-video-adjust {
    margin-top: 50px;
  }

  .pump-pod-wrapper {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .caption {
    font-size: 15px;
  }
}
@media screen and (max-device-width: 768px) {
  .caption {
    font-size: 10px;
  }
}

/*# sourceMappingURL=pump-styles.css.map */
