body
{
    max-width: 1720px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFFDF4;

    font-family: 'Sora', sans-serif;
    color: #17171A;
}

.nav-bar
{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.website-pages
{
    display: flex;
    justify-content: space-between;
}

.website-pages a
{
    padding-left: 100px;
}