/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Unviersal Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

$light: #FFFDF4;
$dark: #17171A;
$horzMarginSize: 5vw;

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

body {
    font-size: 25px;
    width: 100vw;
    height: 100vh;
    background-color: $light;

    overflow-x: hidden;
}

h1 {
    font-size: 6em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

.caption {
    font-size: 0.6em;
    font-weight: 300;
}

.white {
    color: $light;
}

.black {
    color: #17171A;
}

.bold {
    font-weight: 700;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.button {
    width: fit-content;
    padding: 1vh;

    background-color: $dark;
    color: $light;
    border: 3px solid $dark;

    transition: 0.25s;
}

.button:hover {
    background-color: $light;
    color: $dark;
}

/*Loading Screen Styles*/

#loadingScreen {
    position: fixed;
    text-align: center;
    background-color: $dark;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

#loadingContentWrapper {
    margin-top: 40vh;
}

.loadingIcon {
    animation: loadingIcon 20s;
    padding: 5vh;
}

@keyframes loadingIcon {
    from {transform: rotate(0deg);}
    to {transform: rotate(2000deg);}
}

.fadeOut {
    animation: fadeOut 1s forwards;
    pointer-events: none; 
}

@keyframes fadeOut {
    from {opacity: 100%;}
    to {opacity: 0%; overflow-y: scroll;}
}

/*Navbar Styles*/
#navContainer {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 900;

    background-color: $dark;

    transition: top 0.3s;
}

#navWrapper{
    display: flex;
    padding: 3vh $horzMarginSize 3vh $horzMarginSize;

    a {
        margin: 0;
        padding: 0;
        color: $light;
        text-decoration: none;
        font-size: 0.8em;
    
        transition: all 0.25s;
    }

    a:hover {
        font-size: 1em;
    }
}

#rightNav{
    display: flex;
    margin-left: auto;
    width: 25vw;
    justify-content: space-between;
}

/*Footer*/

#footerContainer {
    padding: 5vh $horzMarginSize;
    background-color: $dark;
}

#backToTop {
    margin: auto;
    margin-bottom: 2vh;
    padding: auto;
    text-align: center;

    width: clamp(75px, 6vw, 100vw);
    height: auto;
    aspect-ratio: 1/1;
    line-height: clamp(75px, 6vw, 100vw);
      
    background-color: $dark;
    color: $light;
    font-size: clamp(45px, 4vw, 100vw);
    border-radius: 100%;
    border: 3px solid $light;

    cursor: pointer;
    transition: 0.25s;
}

#backToTop:hover {
    background-color: $light;
    color: $dark;
    border: 3px solid $dark;
}

#idWrapper{
    display: flex;
    width: clamp(0px, 60vw, 750px);
    margin: 3vh auto 15vh auto;
}

#idWrapper div{
    margin: auto;
}

#captionWrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

/*Website Section*/
#websiteSectionContainer {
    padding: 15vh $horzMarginSize;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Home Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#heroSectionWrapper {
    text-align: center;
    height: 100vh;
}

#heroTextContainer {
    position: relative;
    padding-top: 33vh;
    z-index: 3;

    h2 {
        font-size: 2em;
    }
}

#hoursJSContainer {
    margin: auto;
    width: 60%;
}

#hours {
    font-weight: 700;
    display: inline;
}

#bouncingBomb {
    position: absolute;
    padding: 1vh;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: $dark;
    z-index: 200;
    white-space: nowrap;

    color: $light;
}

#showreelContainer {
    position: relative;
    background-color: $dark;
    z-index: 100;
    height: 110vh;
}

#showreelThumbnail{
    position: absolute;
    z-index: 1;
    
    cursor: none;
    
    img {
        width: 100vw;
        height: 110vh;
        object-fit: cover;
    }
} 

#playButton {
    position: absolute;
    display: flex;
    transition: 0.15s;
    transition: opacity 0.25s;
    opacity: 0%;
    pointer-events: none;

    z-index: 900;

    img {
        width: 10vw;
        height: auto;
    }
}

#showreelVideo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 16/9;
    width: 100vw;
    height: 110vh;
    top: 0;
    
    z-index: 0;

    iframe{
        display: block;
        border-style: none;
        width: 70vw;
        aspect-ratio: 16/9;
    }
}

#exitButton {
    align-items: baseline;
    cursor: pointer;
    padding-left: 3vw;

    img {
        width: 3vw;
        height: auto;
    }
}

#spotlightWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1vw;
    row-gap: 10vh;

    padding-top: 50px;
}

.spotlightCardWrapper img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

#hoverInfo {
    position: absolute;
    max-width: 0;
    height: auto;
    
    background-color: $dark;
    
    transition: max-width 2s;
}

#hoverInfoH3, #hoverInfoP {
    margin: auto 0;
    padding: 1vh 1vh 0 1vh;
    
    color: $light;
    opacity: 0%;
    
    white-space: nowrap;
    transition: all 1s;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Work Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#workWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    row-gap: 1vh;

    padding-top: 50px;
}

.workCardWrapper img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!About Me Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#aboutMeWrapper {
    width: 70vw;
    margin: auto;
    margin-bottom: 20vh;
    text-align: center;

    h1 {
        line-height: 1em;
    }

    img {
        width: auto;
        height: 60vh;
        padding-bottom: 5vh;
    }

    p {
        width: auto;
    }
}

#aboutMeText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;

    padding-top: 5vh;
    text-align: left;
}

#aboutMeExperience {
    padding-top: 30vh;
    text-align: left;

    h1 {
        padding-bottom: 5vh;
    }
}

#experienceList{
    display: grid;
    justify-content: right;
}

.experienceListItem {
    padding: 5vh 0;

    h3 {
        padding-bottom: 2.5vh;
    }
}

#aboutIconGroup {
    position: absolute;
    z-index: -1000;
    left: 0px;
    top: 0px;
}

table {
    margin: 5vh 0;
    border-collapse: collapse;
}

th, td{
    text-align: left;
    padding: 1vw;
    border: 3px solid $dark;
    background-color: $light;
    white-space: nowrap;
}

.tdimg {
    width: 10vw;
    height: auto;
}

@media screen and (max-width: 1919px) {
    body {
        font-size: 20px;
    }

    #heroSectionWrapper {
        grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 15px;
    }

    #heroSectionWrapper {
        grid-template-columns: 65% 35%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-device-width: 768px) {
    body {
        font-size: 20px;
    }
    
    #heroSectionWrapper {
        margin: 25vh $horzMarginSize 30vh $horzMarginSize;
        display: block;
    }

    #workWrapper {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 0;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Under Construction Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#construction-text {
    font-size: 6em;
    font-weight: 700;
    color: $dark;
}

#belt {
    position: absolute;
    top: 450px;
}

#belt img {
    width: 75px;
    height: auto;
}

/*Display*/
#contruction-background-items {
}

#gif {
    display:block;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#construction-container {
    padding: 0;
    margin: 15vh $horzMarginSize;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Brown Justin Bieber Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*Variables*/
$green: #438806;
$orange: #E28413; //#F0A202
$red: #CE1126;

/*Multi Use Styles*/
@mixin top-margin {
    margin-top: 20vh;

    @media screen and (max-width: 1200px) {
        margin-top: 5vh;
    }

    @media screen and (max-device-width: 481px) {
        margin-top: 5vh;
    }
}

.bjb-content-wrapper {
    //max-width: clamp(0px, 85%, 1920px);
    padding: 15vh $horzMarginSize;

    background-color: $dark;
}

/*Content Styles*/
.light-wrapper{
    background-color: $light;
}

.title-gif img {
    object-fit: cover;
    width: 100%;
    height: clamp(275px, 30vw, 500px);
}

.title-subheading {
    color: $green;
    font-size: 3em;
    font-weight: 700;

    text-align: center;
    margin-top: 5vh;
}

.project-details {
    display: flex;
    text-align: center;
    justify-content: center;

    color: $green;
    font-size: 1.5em;
    font-weight: 500;
}

#bjb-video-wrapper {
    @include top-margin;

    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1vw;

    h2 {
        font-weight: 700;
    }

    iframe {       
        width: 100%;
        aspect-ratio: 16/9;
    }
}

#bjbVideoDescirption {
    color: $orange;

    font-size: 1.5rem;
    font-weight: 500;

}

.full-size-image {
    @include top-margin;
    text-align: center;
}

.full-size-image img {
    width: auto;
    height: 90vh;
}

.collage-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    @include top-margin;

    .left-image {   
        grid-column: 1/2;
    }
    
    .right-image {
        
        grid-column: 2/3;
    }
    
    .collage-image img {
        width: 100%;
        height: auto;
    }
}

.gif-line {
    display: flex;
    justify-content: space-between;

    @include top-margin;
}

.gif-line img {
    width: auto;
    height: clamp(150px, 22vw, 400px);
}

.cheeto img {
    width: auto;
    height: clamp(125px, 22vw, 300px);
}

.lime-cross-section {
    padding-top: 25px;
}

.lime-cross-section img {
    width: auto;
    height: clamp(100px, 19vw, 250px);
}

.lime img {
    width: auto;
    height: clamp(125px, 22vw, 300px);
}

@media screen and (max-width: 1200px) {
    .nav {
        font-size: 16.667px;
    }
    
    .title-gif {
        margin-top: 50px;
    }

    .title-gif img {
        height: clamp(200px, 26vw, 300px);
    }

    .title-subheading {
        font-size: 60px;
    }
    
    .project-details {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .paragraph {
        font-size: 25px;    
    }

    .collage-wrapper {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-device-width: 481px) {
    .nav {
        font-size: 25px;
        .pages a {
            margin-left: 30px;        
        }
    }

    .footer-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!PuMP Showcase Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*Variables*/
$light: #FFFDF4;
$dark: #17171A;
$yellow: #FEC63D;
$navy: #0D1D3F;
$orange: #FF9C01;
$peri: #465678;
$perilight: #8E9EC2;
$blue: #53B7F2;
$aqua: #24D0B5; 

$curve: 15px;

/*Multi Use Styles*/
@mixin content-wrapper ($p-top, $p-bottom, $m-top, $m-bottom){
    max-width: clamp(0px, 85% , 1920px);
    margin: auto;
    padding-top: $p-top;
    padding-bottom: $p-bottom;
    margin-top: $m-top;
    margin-bottom: $m-bottom;
}

@mixin head ($color) {
    font-weight: 700;
    font-size: 80px;
    color: $color;

    @media screen and (max-width: 1440px) {
        font-size: 60px;
    }

    @media screen and (max-width: 1200px) {
        font-size: 50px;
    }

    @media screen and (max-device-width: 768px) {
        font-size: 40px;
    }

    @media screen and (max-device-width: 481px) {
        font-size: 80px;
    }
}

@mixin subhead ($color){
    font-size: 26.667px;
    font-weight: 500;
    color: $color;

    @media screen and (max-width: 1200px) {
        font-size: 20px;
    }

    @media screen and (max-device-width: 481px) {
        font-size: 35px;
    }
}

@mixin top-margin {
    margin-top: 50px;

    @media screen and (max-width: 1200px) {
        margin-top: 25px;
    }

    @media screen and (max-device-width: 481px) {
        margin-top: 75px;
    }
}

.pumpCaption {
    text-align: center;
    padding-top: 10px;

    font-size: 20px;
    font-weight: 500;
    color: $navy;
}

.top-section-container {
    background-image: linear-gradient(to bottom right, white, grey);
}

.top-section-wrapper {
    @include content-wrapper(50px, 0px, 0px, clamp(-500px, -25vw, -275px));
}

/*Intro Graphic and Text*/
.intro-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin-top: 100px;
}

.intro-wrapper img{
    width: 80%;
    height: auto;
    margin-left: auto;
}

.intro-text-wrapper {
    margin-top: clamp(50px, 5vw, 100px);
    margin-bottom: auto;

    color: $navy;
}

.intro-head {
    @include head ($navy);
}

.intro-subhead {
    @include subhead ($peri);
}

.text-animation-wrapper-three {
    @include content-wrapper (0px, 0px, 25px, 0px);
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

.video-adjust {
    width: 100%;
    height: auto;

    margin-top: calc(var(--order) * 100px);
    border-radius: $curve;
}

/*Second Section*/
.content-container {
    background-color: $light;
}

.content-wrapper {
    @include content-wrapper (50px, 50px, 0, 0);
}

.purpose-text-group {
    padding-top: 500px;
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
}

.purpose-head {
    margin-bottom: 25px;
    @include head ($navy);
}

.purpose-subhead {
    @include subhead ($peri);
}

.text-animation-wrapper-two {
    @include content-wrapper (100px, 0px, 0px, 25px);
    
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
}

.role-text-group {
    padding-top: 100px;
    width: 70%;
    margin: auto;
}

.role-head {
    margin-bottom: 25px;
    @include head ($navy);
}

.role-subhead {
    @include subhead ($peri);
}

.content-wrapper img{
    width: 100%;
    height: auto;

    margin-top: clamp(75px, 6vw, 100px);
    border-radius: $curve;
}

.ig-post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
}

.online-video-adjust {    
    width: 70%;
    aspect-ratio: 16/9;
    margin: auto;
    margin-top: clamp(75px, 6vw, 100px);
    display: block;

    border-radius: $curve;
}

.pump-digest-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.pump-pod-wrapper {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;

    background-color: $navy;
    border-radius: $curve;
}

.pump-pod-logo{
    width: 70%;
    margin: auto;
}