body
{
    margin: 0px;
}

.construction-text
{
    padding-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 9.5em;
    width: 300px;

    padding-top: 100px;
}

.belt
{
    position: absolute;
    padding-top: 580px;
    padding-left: 55px;
}

.belt img
{
    width: 75px;
    height: auto;
}

.gif
{
    position: absolute;
    bottom: 0px;
    padding-left: 260px;
}

.barrel-and-bench
{
    position: absolute;
    bottom: 60px;
    left: -310px;
}

.step-ladder
{
    position: absolute;
    bottom: 90px;
    padding-left: 700px;
}

.pump
{
    position: absolute;
    bottom: 140px;
    padding-left: 830px;
}

.gas
{
    position: absolute;
    bottom: 120px;
    padding-left: 900px;
}

@media (min-device-width: 768px)
{
    .construction-text
    {
        font-size: 5em;
        width: 800px;
    }

    .belt
    {
        padding-top: 260px;
        padding-left: 75px;
    }
}

@media (min-width: 1024px)
{
    .construction-text
    {
        font-size: 7em;
        width: 900px;
        padding-top: 20px;
        padding-left: 5%;
    }

    .gif
    {
        bottom: -250px;
        padding-left: 570px;
    }

    .gif img
    {
        width: 600px;
        height: auto;
    }

    .barrel-and-bench
    {
        bottom: -200px;
        left: 0;
    }

    .barrel-and-bench img
    {
        width: 1100px;
        height: auto;
    }

    .step-ladder
    {
        bottom: -230px;
        padding-left: 1100px;
    }

    .pump
    {
        bottom: -150px;
        padding-left: 1050px;
    }

    .gas
    {
        bottom: -200px;
        padding-left: 300px;
    }

    .belt
    {
        padding-top: 240px;
        padding-left: 30px;
    }
}

@media (min-width: 1440px)
{
    .construction-text
    {
        font-size: 6em;
        width: 60%;
        padding-top: 20px;
    }

    .gif
    {
        bottom: 10px;
        padding-left: 570px;
    }

    .gif img
    {
        width: 600px;
        height: auto;
    }

    .barrel-and-bench
    {
        bottom: 35px;
        left: 0;
    }

    .barrel-and-bench img
    {
        width: 1100px;
        height: auto;
    }

    .step-ladder
    {
        bottom: 25px;
        padding-left: 1100px;
    }

    .pump
    {
        bottom: 115px;
        padding-left: 1080px;
    }

    .gas
    {
        padding-top: 70vh;
        padding-left: 85%;
    }

    .belt
    {
        padding-top: 210px;
        padding-left: 55px;
    }
}


@media (min-width: 1920px)
{
    .construction-text
    {
        font-size: 8em;

        padding-top: 10px;
    }

    .belt
    {
        position: absolute;
        top: 53px;
        padding-left: 90px;
    }

    .gif
    {
        position: absolute;
        bottom: 0px;
        padding-left: 900px;
    }

    .barrel-and-bench
    {
        bottom: 0;
        padding-left: 180px;
        padding-bottom: 1%;
    }

    .step-ladder
    {
        position: absolute;
        bottom: 40px;
        padding-left: 1460px;
    }

    .gas
    {
        position: absolute;
        bottom: 0;
        padding-left: 1730px;
        padding-bottom: 3%;
    }

    .pump
    {
        position: absolute;
        bottom: 130px;
        padding-left: 1420px;
    }
}

@media (min-width: 2560px)
{
    .gif
    {
        padding-left: 1550px;
    }

    .belt
    {
        padding-left: 125px;
    }

    .barrel-and-bench
    {
        padding-left: 900px;
    }

    .step-ladder
    {
        padding-left: 2070px;
    }

    .pump
    {
        bottom: 110px;
        padding-left: 2040px;
    }

    .gas
    {
        padding-left: 2300px;
    }
}

