/*Unviersal Styles*/
$light: #FFFDF4;
$dark: #17171A;
$horzMarginSize: 5vw;

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

body {
    font-size: 25px;
    width: 100vw;
    height: 100vh;
    background-color: $light;

    overflow-x: hidden;
}

h1 {
    font-size: 6em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-weight: 300;
}

.caption {
    font-size: 0.6em;
    font-weight: 300;
}

.white {
    color: $light;
}

.bold {
    font-weight: 700;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}

.right {
    text-align: right;
}

/*Loading Screen Styles*/

#loadingScreen {
    position: fixed;
    text-align: center;
    background-color: $dark;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

#loadingContentWrapper {
    margin: 40vh;
}

.loadingIcon {
    animation: loadingIcon 20s;
    padding: 5vh;
}

@keyframes loadingIcon {
    from {transform: rotate(0deg);}
    to {transform: rotate(2000deg);}
}

.fadeOut {
    animation: fadeOut 1s forwards;
    animation-delay: 1s;
}

@keyframes fadeOut {
    from {opacity: 100%;}
    to {opacity: 0%; pointer-events: none; overflow-y: scroll;}
}

/*JS Components Styles*/

#aboutIconGroup {
    position: absolute;
    z-index: -1000;
    left: 0px;
    top: 0px;
}

#hoursJSContainer {
    margin: auto;
    width: 60%;
}

#hours {
    font-weight: 700;
    display: inline;
}

#bouncingBomb {
    position: absolute;
    padding: 1vh;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: $dark;
    z-index: 200;
    white-space: nowrap;

    color: $light;
}

/*Navbar Styles*/
#navContainer {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 900;

    background-color: $dark;

    transition: top 0.3s;
}

#navWrapper{
    display: flex;
    padding: 3vh $horzMarginSize 3vh $horzMarginSize;
}

a {
    margin: 0;
    padding: 0;
    color: $light;
    text-decoration: none;
    font-size: 0.8em;

    transition: all 0.25s;
}

#rightNav{
    display: flex;
    margin-left: auto;
    width: 40vw;
    justify-content: space-between;
}


a:hover {
    font-size: 1em;
}

/*Webpage Styles*/
#websiteSectionContainer {
    padding: 15vh $horzMarginSize;
}

#heroSectionWrapper {
    text-align: center;
    height: 100vh;
}

#heroTextContainer {
    position: relative;
    padding-top: 33vh;
    z-index: 3;
}

#showreelContainer {
    position: relative;
    background-color: $dark;
    padding: 15vh $horzMarginSize;
    z-index: 100;
}

#showreelContainer iframe {
    display: block;
    border-style: none;
    padding-bottom: 25px;
    width: 100%;
    aspect-ratio: 16/9;
}

#spotlightWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    row-gap: 1vh;

    padding-top: 50px;
}

.spotlightCardWrapper img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

#footerContainer {
    padding: 50px $horzMarginSize 50px $horzMarginSize;
    background-color: $dark;
}

#backToTop {    
    width: 6vw;
    height: auto;
    aspect-ratio: 1/1;
    margin: auto;
    padding: auto;
    text-align: center;
    line-height: 6vw;
    
    cursor: pointer;
    background-color: $dark;
    color: $light;
    font-size: 4vw;
    border-radius: 100%;
    border: 3px solid $light;

    transition: 0.25s;
}

#backToTop:hover {
    background-color: $light;
    color: $dark;
    border: 3px solid $dark;
}

#idWrapper{
    display: flex;
    width: 750px;
    margin: 25px auto 100px auto;
}

#idWrapper div{
    margin: auto;
}

#captionWrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

#cursorIcon {
    max-width: 0;
    height: auto;
    background-color: $dark;
    position: absolute;
    transition: max-width 2s;
}

#cursorIconH3 {
    opacity: 0%;
    margin: auto 0;
    color: $light;
    padding: 1vh 1vh 0 1vh;
    white-space: nowrap;
    transition: all 1s;
}

#cursorIconP {
    opacity: 0%;
    margin: auto 0;
    color: $light;
    padding: 1vh;
    white-space: nowrap;
    transition: all 1s;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
About Me Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#aboutMeWrapper {
    width: 60vw;
    padding: 10vh 0;

    h1 {
        width:fit-content;
    }

    p {
        width: auto;
    }
}

table {
    margin: 5vh 0;
    border-collapse: collapse;
}

th, td{
    text-align: left;
    padding: 1vw;
    border: 3px solid $dark;
    background-color: $light;
    white-space: nowrap;
}

.tdimg {
    width: 10vw;
    height: auto;
}

@media screen and (max-width: 1919px) {
    body {
        font-size: 20px;
    }

    #heroSectionWrapper {
        grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 15px;
    }

    #heroSectionWrapper {
        grid-template-columns: 65% 35%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-device-width: 768px) {
    body {
        font-size: 20px;
    }
    #heroSectionWrapper {
        margin: 25vh $horzMarginSize 30vh $horzMarginSize;
        display: block;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Under Construction Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#construction-text {
    font-size: 6em;
    font-weight: 700;
    color: $dark;
}

#belt {
    position: absolute;
    top: 450px;
}

#belt img {
    width: 75px;
    height: auto;
}

/*Display*/
#contruction-background-items {
}

#gif {
    display:block;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#construction-container {
    padding: 0;
    margin: 15vh $horzMarginSize;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PuMP Showcase Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*Variables*/
$light: #FFFDF4;
$dark: #17171A;
$yellow: #FEC63D;
$navy: #0D1D3F;
$orange: #FF9C01;
$peri: #465678;
$perilight: #8E9EC2;
$blue: #53B7F2;
$aqua: #24D0B5; 

$curve: 15px;

/*Multi Use Styles*/
@mixin content-wrapper ($p-top, $p-bottom, $m-top, $m-bottom){
    max-width: clamp(0px, 85% , 1920px);
    margin: auto;
    padding-top: $p-top;
    padding-bottom: $p-bottom;
    margin-top: $m-top;
    margin-bottom: $m-bottom;
}

@mixin head ($color) {
    font-weight: 700;
    font-size: 80px;
    color: $color;

    @media screen and (max-width: 1440px) {
        font-size: 60px;
    }

    @media screen and (max-width: 1200px) {
        font-size: 50px;
    }

    @media screen and (max-device-width: 768px) {
        font-size: 40px;
    }

    @media screen and (max-device-width: 481px) {
        font-size: 80px;
    }
}

@mixin subhead ($color){
    font-size: 26.667px;
    font-weight: 500;
    color: $color;

    @media screen and (max-width: 1200px) {
        font-size: 20px;
    }

    @media screen and (max-device-width: 481px) {
        font-size: 35px;
    }
}

@mixin top-margin {
    margin-top: 50px;

    @media screen and (max-width: 1200px) {
        margin-top: 25px;
    }

    @media screen and (max-device-width: 481px) {
        margin-top: 75px;
    }
}

.caption {
    text-align: center;
    padding-top: 10px;

    font-size: 20px;
    font-weight: 500;
    color: $navy;
}

.top-section-container {
    background-image: linear-gradient(to bottom right, white, grey);
}

.top-section-wrapper {
    @include content-wrapper(50px, 0px, 0px, clamp(-500px, -25vw, -275px));
}

/*Intro Graphic and Text*/
.intro-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin-top: 100px;
}

.intro-wrapper img{
    width: 80%;
    height: auto;
    margin-left: auto;
}

.intro-text-wrapper {
    margin-top: clamp(50px, 5vw, 100px);
    margin-bottom: auto;

    color: $navy;
}

.intro-head {
    @include head ($navy);
}

.intro-subhead {
    @include subhead ($peri);
}

.text-animation-wrapper-three {
    @include content-wrapper (0px, 0px, 25px, 0px);
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

.video-adjust {
    width: 100%;
    height: auto;

    margin-top: calc(var(--order) * 100px);
    border-radius: $curve;
}

/*Second Section*/
.content-container {
    background-color: $light;
}

.content-wrapper {
    @include content-wrapper (50px, 50px, 0, 0);
}

.purpose-text-group {
    padding-top: 500px;
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
}

.purpose-head {
    margin-bottom: 25px;
    @include head ($navy);
}

.purpose-subhead {
    @include subhead ($peri);
}

.text-animation-wrapper-two {
    @include content-wrapper (100px, 0px, 0px, 25px);
    
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
}

.role-text-group {
    padding-top: 100px;
    width: 70%;
    margin: auto;
}

.role-head {
    margin-bottom: 25px;
    @include head ($navy);
}

.role-subhead {
    @include subhead ($peri);
}

.content-wrapper img{
    width: 100%;
    height: auto;

    margin-top: clamp(75px, 6vw, 100px);
    border-radius: $curve;
}

.ig-post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
}

.online-video-adjust {    
    width: 70%;
    aspect-ratio: 16/9;
    margin: auto;
    margin-top: clamp(75px, 6vw, 100px);
    display: block;

    border-radius: $curve;
}

.pump-digest-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.pump-pod-wrapper {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;

    background-color: $navy;
    border-radius: $curve;
}

.pump-pod-logo{
    width: 70%;
    margin: auto;
}