/*Unviersal Styles*/
* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}

body {
  font-size: 25px;
  width: 100vw;
  height: 100vh;
  background-color: #FFFDF4;
  overflow-x: hidden;
}

h1 {
  font-size: 6em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-weight: 300;
}

.caption {
  font-size: 0.6em;
  font-weight: 300;
}

.white {
  color: #FFFDF4;
}

.black {
  color: #17171A;
}

.bold {
  font-weight: 700;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/*Loading Screen Styles*/
#loadingScreen {
  position: fixed;
  text-align: center;
  background-color: #17171A;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#loadingContentWrapper {
  margin: 40vh;
}

.loadingIcon {
  -webkit-animation: loadingIcon 20s;
          animation: loadingIcon 20s;
  padding: 5vh;
}

@-webkit-keyframes loadingIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2000deg);
  }
}

@keyframes loadingIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2000deg);
  }
}
.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
          animation: fadeOut 1s forwards;
  pointer-events: none;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    overflow-y: scroll;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    overflow-y: scroll;
  }
}
/*JS Components Styles*/
#aboutIconGroup {
  position: absolute;
  z-index: -1000;
  left: 0px;
  top: 0px;
}

#hoursJSContainer {
  margin: auto;
  width: 60%;
}

#hours {
  font-weight: 700;
  display: inline;
}

#bouncingBomb {
  position: absolute;
  padding: 1vh;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: #17171A;
  z-index: 200;
  white-space: nowrap;
  color: #FFFDF4;
}

/*Navbar Styles*/
#navContainer {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 900;
  background-color: #17171A;
  transition: top 0.3s;
}

#navWrapper {
  display: flex;
  padding: 3vh 5vw 3vh 5vw;
}

a {
  margin: 0;
  padding: 0;
  color: #FFFDF4;
  text-decoration: none;
  font-size: 0.8em;
  transition: all 0.25s;
}

#rightNav {
  display: flex;
  margin-left: auto;
  width: 40vw;
  justify-content: space-between;
}

a:hover {
  font-size: 1em;
}

/*Webpage Styles*/
#websiteSectionContainer {
  padding: 15vh 5vw;
}

#heroSectionWrapper {
  text-align: center;
  height: 100vh;
}

#heroTextContainer {
  position: relative;
  padding-top: 33vh;
  z-index: 3;
}

#showreelContainer {
  position: relative;
  background-color: #17171A;
  z-index: 100;
  height: 110vh;
}

#showreelThumbnail {
  position: absolute;
  z-index: 1;
}
#showreelThumbnail img {
  width: 100vw;
  height: 110vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#showreelVideo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  width: 100vw;
  height: 110vh;
  top: 0;
  z-index: 0;
}
#showreelVideo iframe {
  display: block;
  border-style: none;
  width: 70vw;
  aspect-ratio: 16/9;
}

#exitButton {
  align-items: baseline;
  cursor: pointer;
  padding-left: 3vw;
}
#exitButton img {
  width: 3vw;
  height: auto;
}

#cursorIcon2 {
  position: absolute;
  display: flex;
  transition: 0.1s;
  transition: opacity 0.25s;
  opacity: 0%;
  pointer-events: none;
  z-index: 900;
}
#cursorIcon2 img {
  width: 10vw;
  height: auto;
}

#spotlightWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  row-gap: 1vh;
  padding-top: 50px;
}

.spotlightCardWrapper img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

#footerContainer {
  padding: 50px 5vw 50px 5vw;
  background-color: #17171A;
}

#backToTop {
  width: 6vw;
  height: auto;
  aspect-ratio: 1/1;
  margin: auto;
  padding: auto;
  text-align: center;
  line-height: 6vw;
  cursor: pointer;
  background-color: #17171A;
  color: #FFFDF4;
  font-size: 4vw;
  border-radius: 100%;
  border: 3px solid #FFFDF4;
  transition: 0.25s;
}

#backToTop:hover {
  background-color: #FFFDF4;
  color: #17171A;
  border: 3px solid #17171A;
}

#idWrapper {
  display: flex;
  width: 750px;
  margin: 25px auto 100px auto;
}

#idWrapper div {
  margin: auto;
}

#captionWrapper {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

#cursorIcon {
  max-width: 0;
  height: auto;
  background-color: #17171A;
  position: absolute;
  transition: max-width 2s;
}

#cursorIconH3 {
  opacity: 0%;
  margin: auto 0;
  color: #FFFDF4;
  padding: 1vh 1vh 0 1vh;
  white-space: nowrap;
  transition: all 1s;
}

#cursorIconP {
  opacity: 0%;
  margin: auto 0;
  color: #FFFDF4;
  padding: 1vh;
  white-space: nowrap;
  transition: all 1s;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
About Me Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
#aboutMeWrapper {
  width: 60vw;
  padding: 10vh 0;
}
#aboutMeWrapper h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#aboutMeWrapper p {
  width: auto;
}

table {
  margin: 5vh 0;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 1vw;
  border: 3px solid #17171A;
  background-color: #FFFDF4;
  white-space: nowrap;
}

.tdimg {
  width: 10vw;
  height: auto;
}

@media screen and (max-width: 1919px) {
  body {
    font-size: 20px;
  }
  #heroSectionWrapper {
    grid-template-columns: 70% 30%;
  }
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 15px;
  }
  #heroSectionWrapper {
    grid-template-columns: 65% 35%;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-device-width: 768px) {
  body {
    font-size: 20px;
  }
  #heroSectionWrapper {
    margin: 25vh 5vw 30vh 5vw;
    display: block;
  }
}
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Under Construction Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
#construction-text {
  font-size: 6em;
  font-weight: 700;
  color: #17171A;
}

#belt {
  position: absolute;
  top: 450px;
}

#belt img {
  width: 75px;
  height: auto;
}

/*Display*/
#gif {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#construction-container {
  padding: 0;
  margin: 15vh 5vw;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PuMP Showcase Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/*Variables*/
/*Multi Use Styles*/
.pumpCaption {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #0D1D3F;
}

.top-section-container {
  background-image: linear-gradient(to bottom right, white, grey);
}

.top-section-wrapper {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: clamp(-500px, -25vw, -275px);
}

/*Intro Graphic and Text*/
.intro-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 100px;
}

.intro-wrapper img {
  width: 80%;
  height: auto;
  margin-left: auto;
}

.intro-text-wrapper {
  margin-top: clamp(50px, 5vw, 100px);
  margin-bottom: auto;
  color: #0D1D3F;
}

.intro-head {
  font-weight: 700;
  font-size: 80px;
  color: #0D1D3F;
}
@media screen and (max-width: 1440px) {
  .intro-head {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .intro-head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 768px) {
  .intro-head {
    font-size: 40px;
  }
}
@media screen and (max-device-width: 481px) {
  .intro-head {
    font-size: 80px;
  }
}

.intro-subhead {
  font-size: 26.667px;
  font-weight: 500;
  color: #465678;
}
@media screen and (max-width: 1200px) {
  .intro-subhead {
    font-size: 20px;
  }
}
@media screen and (max-device-width: 481px) {
  .intro-subhead {
    font-size: 35px;
  }
}

.text-animation-wrapper-three {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 25px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

.video-adjust {
  width: 100%;
  height: auto;
  margin-top: calc(var(--order) * 100px);
  border-radius: 15px;
}

/*Second Section*/
.content-container {
  background-color: #FFFDF4;
}

.content-wrapper {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.purpose-text-group {
  padding-top: 500px;
  padding-bottom: 50px;
  width: 70%;
  margin: auto;
}

.purpose-head {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 80px;
  color: #0D1D3F;
}
@media screen and (max-width: 1440px) {
  .purpose-head {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .purpose-head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 768px) {
  .purpose-head {
    font-size: 40px;
  }
}
@media screen and (max-device-width: 481px) {
  .purpose-head {
    font-size: 80px;
  }
}

.purpose-subhead {
  font-size: 26.667px;
  font-weight: 500;
  color: #465678;
}
@media screen and (max-width: 1200px) {
  .purpose-subhead {
    font-size: 20px;
  }
}
@media screen and (max-device-width: 481px) {
  .purpose-subhead {
    font-size: 35px;
  }
}

.text-animation-wrapper-two {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 150px;
}

.role-text-group {
  padding-top: 100px;
  width: 70%;
  margin: auto;
}

.role-head {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 80px;
  color: #0D1D3F;
}
@media screen and (max-width: 1440px) {
  .role-head {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .role-head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 768px) {
  .role-head {
    font-size: 40px;
  }
}
@media screen and (max-device-width: 481px) {
  .role-head {
    font-size: 80px;
  }
}

.role-subhead {
  font-size: 26.667px;
  font-weight: 500;
  color: #465678;
}
@media screen and (max-width: 1200px) {
  .role-subhead {
    font-size: 20px;
  }
}
@media screen and (max-device-width: 481px) {
  .role-subhead {
    font-size: 35px;
  }
}

.content-wrapper img {
  width: 100%;
  height: auto;
  margin-top: clamp(75px, 6vw, 100px);
  border-radius: 15px;
}

.ig-post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
}

.online-video-adjust {
  width: 70%;
  aspect-ratio: 16/9;
  margin: auto;
  margin-top: clamp(75px, 6vw, 100px);
  display: block;
  border-radius: 15px;
}

.pump-digest-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.pump-pod-wrapper {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  background-color: #0D1D3F;
  border-radius: 15px;
}

.pump-pod-logo {
  width: 70%;
  margin: auto;
}/*# sourceMappingURL=styles.css.map */