/*Variables*/
/*Multi Use Styles*/
.head {
  margin-top: 50px;
  font-size: 80px;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .head {
    margin-top: 25px;
  }
}
@media screen and (max-device-width: 481px) {
  .head {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .head {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .head {
    font-size: 80px;
  }
}

.subhead {
  font-size: 26.667px;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .subhead {
    font-size: 16.667px;
  }
}
@media screen and (max-device-width: 481px) {
  .subhead {
    font-size: 26.667px;
  }
}

/*Content Styles*/
body {
  background-color: #17171A;
  margin: 0px;
  font-family: "Sora", sans-serif;
  color: #FFFDF4;
}

.content-wrapper {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .content-wrapper {
    margin-top: 25px;
  }
}
@media screen and (max-device-width: 481px) {
  .content-wrapper {
    margin-top: 50px;
  }
}

/*Navbar Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
}
.nav .home {
  font-weight: 500;
}
.nav .home a {
  text-decoration: none;
  color: #FFFDF4;
}
.nav .pages {
  display: flex;
  justify-content: space-between;
}
.nav .pages a {
  text-decoration: none;
  color: #FFFDF4;
  margin-left: clamp(50px, 6vw, 100px);
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.25s;
}
.nav .pages a:hover {
  border-bottom: 1px solid #FFFDF4;
  border-bottom-width: 3px;
}

/*Page Styles*/
.work-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
@media screen and (max-width: 1200px) {
  .work-grid {
    margin-top: 25px;
  }
}
@media screen and (max-device-width: 481px) {
  .work-grid {
    margin-top: 50px;
  }
}

.work-piece,
.work-piece img,
.work-fadein-subtitle {
  width: 100%;
  height: 100%;
}

.work-piece {
  position: relative;
  aspect-ratio: 1;
}

.work-piece img {
  position: absolute;
}

.work-piece a {
  text-decoration: none;
  opacity: 100%;
  transition: 0.5s;
}
.work-piece a:hover {
  opacity: 25%;
}

.work-fadein-subtitle {
  max-width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFDF4;
  font-size: 26.667px;
  font-weight: 500;
}

.footer-container {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFFDF4;
}
@media screen and (max-width: 1200px) {
  .footer-container {
    margin-top: 25px;
  }
}
@media screen and (max-device-width: 481px) {
  .footer-container {
    margin-top: 50px;
  }
}

.footer-wrapper {
  max-width: clamp(0px, 85%, 1920px);
  margin: auto;
  text-align: center;
}

.footer-link a {
  font-size: 80px;
  font-weight: 700;
  text-decoration: none;
  color: #17171A;
  border-bottom: 1px solid transparent;
  border-bottom-width: 0px;
  transition: border-bottom 0.25s;
}
@media screen and (max-width: 1200px) {
  .footer-link a {
    font-size: 50px;
  }
}
@media screen and (max-device-width: 481px) {
  .footer-link a {
    font-size: 80px;
  }
}
.footer-link a:hover {
  border-bottom: 1px solid #17171A;
  border-bottom-width: 3px;
}

@media screen and (max-width: 1200px) {
  .nav {
    font-size: 16.667px;
  }

  .footer-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (max-device-width: 481px) {
  .nav {
    font-size: 25px;
  }
  .nav .pages a {
    margin-left: 30px;
  }

  .work-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .work-piece,
.work-piece img,
.work-darken-overlay {
    width: 100%;
    height: 833px;
  }

  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=work-styles.css.map */
