body
{
    background-color: #FFFDF4;
    margin: 0px;
}

.content-wrapper
{
    max-width: 1720px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    

    font-family: 'Sora', sans-serif;
    color: #17171A;
}

/*Navbar Syles*/
.nav-bar
{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.home-button
{
    border-bottom: 1px solid transparent;
    border-bottom-width: 0px;
    font-weight: 700;
}

.home-button a
{
    text-decoration: none;
    color: #17171A;
}

.website-pages
{
    display: flex;
    justify-content: space-between;
}

.website-pages a
{
    margin-left: 100px;
    text-decoration: none;
    color: #17171A;
    
    border-bottom: 1px solid transparent;
    border-bottom-width: 0px;
    transition: border-bottom 0.5s;
}

.website-pages a:hover
{
    border-bottom: 1px solid #17171A;
    border-bottom-width: 4px;
}

/*Page Styles*/
.work-head
{
    font-size: 80px;
    font-weight: 700;

    padding-top: 50px;
}

.work-subhead
{
    font-size: 26.667px;
    font-weight: 500;
}

.work-grid
{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.work-piece
{
    position: relative;
    width: 540px;
    height: 540px;
}

.work-piece img
{
    position: absolute;
    width: 540px;
    height: 540px;
}

.work-piece a
{
    opacity: 0%;
    transition: 0.5s;
}

.work-piece a:hover
{
    opacity: 100%;
}

.overlay
{
    position: absolute;
    background-color: black;
    width: 540px;
    height: 100%;
    opacity: 75%;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.subtitle
{
    position: absolute;
    color: #FFFDF4;
    text-decoration: none;
    font-size: 26.667px;
    font-weight: 500;
    width: 400px;
    opacity: 100%;
}

.footer
{
    margin-top: 50px;
    padding-bottom: 50px;
    height: 350px;

    background-color: #17171A;
}