@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Staatliches&display=swap');

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Unviersal Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

$light: #ffffff;
$blue: #1D50D0;
$yellow: #FFC43D;
$dark: #17171A;

$horzMarginSize: 5vw;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light;
    width: 100vw;
    height: 100vh;

    color: $dark;

    font-family: "Sora", sans-serif;
    font-size: 25px;
    
    overflow-x: hidden;
}

@media screen and (max-width: 1920px) {
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-device-width: 768px) {
    body {
        font-size: 15px;
    }
}

h1 {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 6em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.caption {
    font-size: 0.6em;
    font-weight: 300;
}

.white {
    color: $light;
}

.black {
    color: $dark;
}

.bold {
    font-weight: 700;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.button {
    width: fit-content;
    padding: 1vh;

    background-color: $dark;
    color: $light;
    border: 3px solid $dark;

    transition: 0.25s;
}

.button:hover {
    background-color: $light;
    color: $dark;
}

@media screen and (max-device-width: 768px) {
    h3 {
        font-size: 2em;
    }
}

@media screen and (max-device-width: 481px) {
    h1 {
        font-size: 4em;
    }
    
    h3 {
        font-size: 1.5em;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Template Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

//Intro Module
.introModuleContainer {
    width: 100vw;
    height: 100vh;

    video {
        width: 100%;
    }
}

.introModuleBG img {
    position: absolute;
    object-fit: cover;

    width: 100vw;
    height: 100vh;

    z-index: -5;
}

.introModuleTextContainer {
    display: flex;
    align-items: center;     /* vertical centering */

    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 50vw;
    height: 100vh;
    padding: 0 5vw;
}

.introModuleTextWrapper {
    margin: auto;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    
    color: $light;    
}

.introTitle {
    font-size: 4em;
    font-family: "Lora", serif;
    font-weight: 700;
    font-style: italic;
}

.introSubTitle {    
    font-size: 1.33em;
    font-family: "Sora", serif;
    font-weight: 300;
}

.introModuleTags {
    display: flex;
    padding: 2vh 0;

    h4 {
        font-family: "Staatliches", system-ui;
        font-weight: 100;
        font-size: 1em;
        color: $light;

        border: 3px solid $light;
        padding: 0.3vw;
        border-radius: 0.4vw;

        margin-right: 0.5vw;
    }
}

.introModuleSigilWrapper {
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
            margin: 0 auto;
    }
}

.introInfoDetailWrapper {
    height: fit-content;

    display: flex;
    flex-direction: column; /* stack children vertically */
    justify-content: center; /* center children vertically */
}

.introInfoPara {
    display: flex;
    margin: auto;
    padding-top: 15vh;
    grid-column-gap: 2em;

    width: 50%;
    
    .introTitle {
        font-size: 3em;
        font-family: "Lora", serif;
        font-weight: 700;
        font-style: italic;

        padding-top: 0;
    }
}

@media screen and (max-device-width: 768px) {
    .introModuleTextContainer {
        width: 75vw;
    }

    .introModuleTextWrapper {
        margin: auto;
        display: grid;
        grid-template-columns: 10fr 1fr 1fr;
        
        color: $light;    
    }

    .introTitle {
        font-size: 4em;
    }

    .introSubTitle {    
        font-size: 1.5em;
    }

    .introModuleTags {
        display: flex;
        padding: 0;

        h4 {
            font-size: 1.5em;
            padding: 0.5vw 1vw;
            border: 3px solid $light;
            border-radius: 1vw;
            margin-right: 1vw;
        }
    }

    .introInfoDetailWrapper {
        row-gap: 2vh;
    }
}

@media screen and (max-device-width: 481px) {
    .introModuleTextContainer {
        width: 100vw;
    }

    .introModuleTextWrapper {
        margin: auto;
        display: grid;
        grid-template-columns: 10fr 1fr 1fr;
        
        color: $light;    
    }

    .introTitle {
        font-size: 3em;
    }

    .introSubTitle {    
        font-size: 1em;
    }

    .introModuleTags {
        h4 {
            font-size: 1em;
            padding: 0.5vw 2vw;
            margin-right: 2vw;
        }
    }

    .introInfoDetailWrapper {
        row-gap: 2vh;
    }

    .introInfoPara {
        display: grid;
        grid-row-gap: 5vh;

        width: 75%;
    }
}

.videoDisplay {
    display: block;
    margin: 0;
    border: none;

    aspect-ratio: 16/9;
    width: auto;
    height: auto;

    pointer-events: none;
}

//Fullscreen Image
.fullScreenImage {
    text-align: center;
    margin-top: 5vw;
}

.fullScreenImage img{
    width: auto;
    max-height: 85vh;
}

//Split Screen Image
.splitScreenImage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10vh;

    padding-top: 5vw;
}

.splitScreenImage img {
    width: 100%;
    height: auto;
}

//3x3 Grid Image
.threeGridImage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10vh;
    grid-column-gap: 10vh;

    padding-top: 5vw;

    img {
        width: 100%;
        height: auto;
    }
}

//4 Grid Image
.fourGridImage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5vw;
    grid-column-gap: 5vw;

    padding-top: 5vw;
}

.fourGridImage img {
    width: 100%;
    height: auto;
}

//Section Header
.sectionHead {
    display: flex;
    font-size: 6em;
    font-family: "Staatliches", system-ui;
    font-weight: 500;
    color: $blue;
    text-align: center;
    justify-content: center;

    margin: 15vh auto;
    white-space: nowrap;
}

.sectionHeadDesigns {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;

    img {
        height: 100%;
        width: auto;
        margin: auto;
    }
}

.sectionSubHead {
    font-size: 3em;
    font-weight: 700;
    margin-top: 15vh;
}

.imageAndParagraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vh;

    margin-top: 15vh;
}

.imageAndParagraph img {
    width: 100%;
    height: auto;
}

@media screen and (max-device-width: 768px) {
    .sectionHead {
        font-size: 4em;
    
        margin: 15vh 0;

        display: block;
    }

    //Fullscreen Image
    .fullScreenImage {
        img {
            width: 100%;
            max-height: auto;
        }
    }

    .splitScreenImage {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5vh;
    
        padding-top: 5vh;
    }

    .threeGridImage {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-row-gap: 5vh;
        grid-column-gap: 0vh;

        padding-top: 5vh;

        img {
            width: 85vw;
            max-height: auto;
            margin: auto;
        }
    }
    
}

//Website Section
#websiteSectionContainer {
    padding: 15vh $horzMarginSize;
    z-index: 10000;
}

//Loading Screen Styles
#loadingScreen {
    font-family: 'Sora', sans-serif;
    position: fixed;
    text-align: center;
    background-color: $dark;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

#loadingContentWrapper {
    margin-top: 40vh;
}

.loadingIcon {
    animation: loadingIcon 20s;
    padding: 5vh;
}

@keyframes loadingIcon {
    from {transform: rotate(0deg);}
    to {transform: rotate(2000deg);}
}

.fadeOut {
    animation: fadeOut 1s forwards;
    pointer-events: none; 
}

@keyframes fadeOut {
    from {opacity: 100%;}
    to {opacity: 0%; overflow-y: scroll;}
}

//Navbar Styles
#navContainer {
    background-color: $blue;
    color: $light;
    
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
    z-index: 900;


    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 3vw;
    padding: 1vh $horzMarginSize 1vh $horzMarginSize;
    justify-content: space-between;
    align-items: center;

    transition: top 0.3s;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        display: flex;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-size: 1em;
        font-weight: 400;
    
        transition: all 0.25s;
    }

    a.active {
        text-decoration: underline;
    }

    a:hover {
        font-size: 1em;
        font-weight: 700;
        color: $yellow;
    }

    nav {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 3vw;

        justify-content: space-between;
        align-items: center;
    }
}

.navCenter {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 1vw; /* Add spacing between items */
}

.navRight {
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 3vw;
}

.navSigil {
    max-height: 6vh; /* Constrain to navbar height */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure proper scaling */
    margin: 0 1vw; /* Add horizontal spacing */
}


.navStarGroup {
    width: auto;
    height: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.navButton {
    position: relative;
    z-index: 901;

    all: unset;
    display: none;

    img {
        width: auto;
        height: 4vh;
    }
}

#mobileHomeButton {
    display: none;
}

@media screen and (max-device-width: 768px) {
    
    #navContainer {
        height: 10vh;
        
        display: flex;
        background-color: transparent;
        //border-bottom: 2px solid $blue;
        
        color: $blue;

        nav {
            position: absolute;
            top: 0;
            left: 100vw;

            height: 100vh;
            width: 100vw;

            background-color: transparentize($blue, 0.15);
            backdrop-filter: blur(30px);
            -webkit-backdrop-filter: blur(30px);

            padding: 5vw;
            align-items: normal;
            z-index: 2000;
            transition: 1s; 
        }

        ul {
            gap: 1vw;

            display: block;
        }

        a {
            font-weight: 700;
        }
    }
    
    .navButton {
        display: block;
    }

    .navCenter {
        position: absolute;
        justify-content: center;
        text-align: center;

        bottom: 5vw;
        left: 5vw;
    }

    .navSigil {
        max-height: 15vh;
        width: auto;
        object-fit: contain; /* Ensure proper scaling */
        margin: 0;
    }
    
    .navStarGroup {
        display: none;
    }

    .navRight {
        display: block;
		max-width: 90vw;

        li a {
            color: $light !important;
            font-size: 4em !important;
            font-weight: 700 !important;
        }
    }

    .popOut {
        transform: translateX(-100vw);
    }

    .navButtonClose {
		position: absolute;
		top: 2rem;
		right: 2rem;

        img {
            height: 6vh;
            width: auto;
        }
    }

    #mobileHomeButton {
        display: block;
    }
}

//Footer
#footerContainer {
    font-family: 'Sora', sans-serif;
    padding: 5vh $horzMarginSize;
    background-color: $blue;
}

#backToTop {
    margin: auto;
    margin-bottom: 2vh;
    padding: auto;
    text-align: center;

    width: clamp(75px, 6vw, 100vw);
    height: clamp(75px, 6vw, 100vw);
    aspect-ratio: 1/1;
    line-height: clamp(75px, 6vw, 100vw);
      
    background-color: $blue;
    color: $yellow;
    font-size: clamp(45px, 4vw, 100vw);
    border-radius: 100%;
    border: 3px solid $yellow;

    cursor: pointer;
    transition: 0.25s;
}

#backToTop:hover {
    background-color: $yellow;
    color: $light;
    border: 3px solid $light;
}

#idWrapper{
    display: flex;
    width: clamp(0px, 60vw, 750px);
    margin: 5vh auto;

    div{
        margin: auto;
    }
}

#captionWrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;

    column-gap: 10vw;
}

@media screen and (max-device-width: 768px) {
    #websiteSectionContainer {
        padding: 10vh $horzMarginSize;
    }
}

@media screen and (max-device-width: 481px) {
    #websiteSectionContainer {
        padding: 10vh $horzMarginSize;
    }

    #idWrapper{
        width: 100%;
    }

    #captionWrapper {
        display: flex;
        justify-content: space-between;
        vertical-align: bottom;
    }
}

//Media Player
#mediaPlayer {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 800;

    width: 100vw;
    height: 100vh;

    background-color: $dark;

    display: flex;
    align-items: center; /* centers horizontally */
    justify-content: center; /* centers vertically */

    transition: 0.5s;
    opacity: 0%;
}

.mediaPlayerMobileStyles {
    flex-direction: column;
}

.mediaPlayerVideoHorz {
    display: block;
    margin: 0;
    border: none;

    aspect-ratio: 16/9;
    width: 60vw;
    height: auto;
}

.mediaPlayerVideoVert {
    aspect-ratio: 9/16;
    height: 75vh;
    width: auto;
}

#exitCursor {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;

    font-family: "Staatliches", system-ui;
    font-weight: 500;
    font-size: 3em;
    color: $light;
    white-space: nowrap;

    display: flex;
    flex-direction: column;        /* Stacks text vertically */
    justify-content: center;       /* Vertically centers text */
    align-items: center;           /* Horizontally centers text */
    text-align: center;            /* Centers text horizontally */

    transition: opacity 0.25s;
    opacity: 100%;

    h1 {
        display: inline;
        line-height: 1;
        font-weight: 100;
        font-size: 4em;
        color: $yellow;
    }
}

.exitCursorMobileStyling {
    position: static !important;
    margin-top: 1vh;
}

@media screen and (max-device-width: 768px) {
    .mediaPlayerVideoHorz {
        width: 85vw;
    }

    .mediaPlayerVideoVert {
        height: 70vh;
    }

    #exitCursor {
        font-size: 1.5em;

        h1 {
            font-size: 3em;
        }
    }

    .exitCursorMobileStyling {
        margin-top: 3vh;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Home Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#heroSectionWrapper {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    height: 100vh;
}

#personalLogoContainer{
    margin: auto;
    text-align: center;

    z-index: 5;
}

#lottieAnim svg{
    max-width: 75vw; /* Set maximum width */
    max-height: 60vh; /* Set maximum height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}

#personalLogoSubheadWrapper {
    width: 65vw;
    color: $blue;
    font-weight: 500;

    font-size: 1.5em;

    margin: 2vh auto;
    padding: 1vh 3vw;
}

.showreelSection {
    position: relative;
    z-index: 10;
}

#showreelVideo {
    margin-top: 5vh;
}

#spotlightWrapper {
    padding-top: 50px;
}

.ShowcaseCardContainer {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 3fr;
    column-gap: 5vw;
    row-gap: 10vh;
    margin: 10vh 0;  
}

.spotlightInfo {
    h3 {
        font-family: "Staatliches", system-ui;
        font-weight: 500;
        font-size: 3em;
        color: $blue;
        line-height: 1;
    }  
}

.spotlightCardTags {
    display: flex;
    padding: 2vh 0;

    h4 {
        font-family: "Staatliches", system-ui;
        font-weight: 500;
        font-size: 1.25em;
        color: $blue;

        border: 3px solid $yellow;
        padding: 0.3vw;
        border-radius: 0.35vw;

        margin-right: 0.5vw;
    }
}

.arrowWrapper {
    a {
        display: flex;
        margin-top: 1vh;
        width: 100%;
        height: 4vh;
    }

    p {
        display: flex;
        font-family: "Staatliches", system-ui;
        font-weight: 500;
        font-size: 1.25em;
        color: $blue;

        margin-left: 1vw;

        white-space: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%; /* Make the container take up the full viewport height */
    }

    transition: all 0.25s;
    transform: scale(1);
}

.arrowWrapper:hover {
    transform: scale(1.1);
}

#hoverInfo {
    position: absolute;
    max-width: 0;
    height: auto;
    padding: 1vh;
    
    background-color: $dark;
    transition: max-width 2s;
}

#hoverInfoH3, #hoverInfoP {
    margin: auto 0;
    
    color: $light;
    opacity: 0%;
    
    white-space: nowrap;
    transition: all 1s;
}

.spotlightIMGContainer {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.spotlightIMGWrapper {
    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;

        border: 0vw solid $blue;
        transition: all 0.25s;
        transform: scale(1);
    }

    img:hover {
        border: 0.5vw solid $blue;
        transform: scale(1.1);
    }
}


@media screen and (max-device-width: 768px) {
    #heroSectionWrapper {
        margin: 5vh $horzMarginSize 5vh $horzMarginSize;
    }

    #personalLogoContainer{    
        img{
            max-width: 90vw;
            max-height: 100vh;
            width: auto;
            height: auto;
        }
    }

    #personalLogoSubheadWrapper {
        width: 75vw;
        font-size: 1.25em;
    }

    .spotlightInfo {
        padding-top: 10vh;
    }

    #hoursJSContainer {
        width: 100%;
    }

    .ShowcaseCardContainer {
        display: block;
        padding-top: 0vh;

        img {
            margin-top: 5vh;
        }
    }

    .spotlightCardTags {
        padding: 1vh 0;
    
        h4 {
    
            border: 3px solid $yellow;
            padding: 0.75vw;
            border-radius: 1vw;
    
            margin-right: 2vw;
        }
    }
    
    .arrowWrapper {   
        p {
            margin-left: 3vw;
        }
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Work Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#workWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    row-gap: 1vw;

    padding-top: 5vh;
}

.workWrapperRowWithVertVideo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8vw;
    row-gap: 1vw;
    padding: 0 4vw;
}

.workCardWrapper 
{
    position: relative;

    padding: 0;
    margin: auto;

    cursor: pointer;

    a {
        color: $light;
    }

    video, img {
        display: flex;
        width: 100%;
        height: auto;
        object-fit: cover;

        border-radius: 0vw;
        border: 0vw solid $blue;
        transition: all 0.25s;
    }

    video:hover, img:hover {
        border-radius: 1.5vw;
        border: 0.30vw solid $blue;
    }
}

.workCardHorz {

    max-width: 75vw;

    video, img {
        display: flex;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.workCardVert {
    display: block;
    width: fit-content; /* or a fixed width */

    video, img {
        display: flex;
        max-height: 85vh;
        object-fit: cover;
    }

    a {
        position: relative;
        display: inline-block;
        max-height: 85vh;
    }
}

.workCardText {
    pointer-events: none;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;   
    padding: 3vw 1vw 1vw 1vw;

    background-image: linear-gradient(rgba(29, 80, 208, 0), rgba(0, 0, 0, 0.8));

    opacity: 25%;
    border-radius: 0vw;
    transition: border-radius 0.25s, opacity 0.25s;

    h3 {
        font-family: "Lora", serif;
        font-style: italic;
    }

    p {
        font-family: "Staatliches", system-ui;
        font-weight: 500;
    }
}

.workCardTextHover {
    opacity: 100%;
    border-radius: 0 0 1.5vw 1.5vw;
}

.workCardTags {
    display: flex;

    padding-top: 0.25vw;

    p {
        border: 2px solid $yellow;
        padding: 0.25vw;
        border-radius: 0.25vw;

        margin-right: 0.5vw;
    }
}

@media screen and (max-device-width: 768px) {
    #workWrapper {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 2vh;
    }

    .workCardWrapper{
        
        video, img{
            border-radius: 3vw;
        }
    }
    
    .workCardHorz {
        max-width: 100%;
    }

    .workCardText {
        opacity: 100%;
        padding: 2vw;
        border-radius: 3vw;
    }

    .workCardTags {
        padding-top: 1vw;
    
        p {
            font-size: 1em;
            font-weight: 100;

            border: 2px solid $yellow;
            padding: 1vw;
            border-radius: 1vw;
    
            margin-right: 2vw;
        }
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!About Me Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#aboutMeWrapper {
    width: 90vw;
    margin: auto;
    margin-bottom: 20vh;
    text-align: center;

    h1 {
        line-height: 1em;
    }

    img {
        width: 100%;
        padding-bottom: 5vh;
    }

    p {
        width: auto;
    }
}

#aboutMeText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;

    padding-top: 5vh;
    text-align: left;
}

#aboutMeExperience {
    padding-top: 15vh;
    text-align: left;

    h1 {
        padding-bottom: 5vh;
    }
}

#experienceList{
    display: grid;
    justify-content: right;
}

.experienceListItem {
    padding: 5vh 0;

    h3 {
        padding-bottom: 2.5vh;
    }
}

#aboutIconGroup {
    position: absolute;
    z-index: -1000;
    left: 0px;
    top: 0px;
}

@media screen and (max-device-width: 768px) {
    #aboutMeWrapper{
        padding: 0;
        margin: 0;

        width: 100%;
        
        h1 {
            text-align: left;
        }

        img {
            width: 100%;
            height: auto;
            padding-bottom: 5vh;
        }
    }

    #aboutMeText {
        grid-template-columns: 1fr;
        row-gap: 2vh;
        padding-top: 4vh;
    }
    
    #aboutMeExperience {
        padding-top: 15vh;
    }

    #experienceList{
        display: grid;
        justify-content: left;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Contact Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#contactHead {
    font-size: 8em;
    font-weight: 700;
    text-align: center;
}

#contactSubHead {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

#socialAnimIconContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#animIconWrapper {
    text-align: center;
}

#animIconWrapper video{
    width: clamp(175px,15vw, 100vw);
}

#contactMail {
    font-family: "Staatliches", system-ui;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    color: $blue;

    a {
        text-decoration: none;
        color: $blue;
        font-weight: 500;
    }
}

@media screen and (max-device-width: 768px) {
    #contactHead {
        text-align: left;
    }
    
    #contactSubHead {
        text-align: left;
    }
}

@media screen and (max-device-width: 625px) {
    #contactHead {
        font-size: 4em;
    }
    #contactSubHead {
        font-size: 1em;
    }

    #socialAnimIconContainer {
        grid-template-columns: 1fr;
    }

    #animIconWrapper video{
        width: 50vw;
    }

    #contactMail {
        font-size: 1.5em;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Under Construction Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#construction-text {
    font-size: 6em;
    font-weight: 700;
    color: $dark;
}

#belt {
    position: absolute;
    top: 450px;
}

#belt img {
    width: 75px;
    height: auto;
}

/*Display*/
#contruction-background-items {
}

#gif {
    display:block;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#construction-container {
    padding: 0;
    margin: 15vh $horzMarginSize;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Brown Justin Bieber Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*Variables*/
$green: #438806;
$orange: #E28413; //#F0A202
$red: #CE1126;

/*Multi Use Styles*/
@mixin top-margin {
    margin-top: 20vh;

    @media screen and (max-width: 1200px) {
        margin-top: 5vh;
    }

    @media screen and (max-device-width: 481px) {
        margin-top: 5vh;
    }
}

.bjb-content-wrapper {
    padding: 15vh $horzMarginSize;

    background-color: $dark;
}

.green {
    color: $green;
}

.orange {
    color: $orange;
}

.red {
    color: $red;
}

/*Content Styles*/
.light-wrapper{
    background-color: $light;
}

.title-gif img {
    object-fit: cover;
    width: 100%;
    height: clamp(275px, 30vw, 500px);
}

.title-subheading {
    color: $green;
    font-size: 3em;
    font-weight: 700;

    text-align: center;
    margin-top: 5vh;
}

.project-details {
    display: flex;
    text-align: center;
    justify-content: center;

    color: $green;
    font-size: 1.5em;
    font-weight: 500;
}

#bjb-video-wrapper iframe{     
    width: 100%;
    aspect-ratio: 16/9;
}

#bjbVideoDescirption {
    color: $orange;

    font-size: 1.5rem;
    font-weight: 500;

}

.full-size-image {
    @include top-margin;
    text-align: center;

    img {
        width: 100%;
        height: auto;
    }
}

.collage-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    @include top-margin;

    .left-image {   
        grid-column: 1/2;
    }
    
    .right-image {
        
        grid-column: 2/3;
    }
    
    .collage-image img {
        width: 100%;
        height: auto;
    }
}

.gif-line {
    @include top-margin;

    display: flex;
    justify-content: space-between;

    img {
        width: clamp(1%, 75%, 300px);
        height: auto;
        
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        font-size: 16.667px;
    }
    
    .title-gif {
        margin-top: 50px;
    }

    .title-gif img {
        height: clamp(200px, 26vw, 300px);
    }

    .title-subheading {
        font-size: 60px;
    }
    
    .project-details {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .paragraph {
        font-size: 25px;    
    }

    .collage-wrapper {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-device-width: 768px) {    
    .bjb-content-wrapper {
        padding: 5vh $horzMarginSize;
    
        background-color: $dark;
    }

    .title-gif {
        margin-top: 5vh;
    }

    .collage-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 5vh;
        @include top-margin;
    
        .left-image {   
            grid-column: 1/2;
        }
        
        .right-image {
            
            grid-column: 2/3;
        }
        
        .collage-image img {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-device-width: 481px) {
    .nav {
        font-size: 25px;
        .pages a {
            margin-left: 30px;        
        }
    }

    .footer-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!PuMP Showcase Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*Variables*/
$light: #FFFDF4;
$dark: #17171A;
$yellow: #FEC63D;
$navy: #0D1D3F;
$orange: #FF9C01;
$peri: #465678;
$perilight: #8E9EC2;
$blue: #53B7F2;
$aqua: #24D0B5; 

@mixin curve () {
    border-radius: 25px;

    @media screen and (max-device-width: 768px) {
        border-radius: 15px;
    }
}

/*Multi Use Styles*/
.pumpCaption {
    text-align: center;
    padding-top: 3vh;

    font-weight: 500;
    color: $navy;
}

#pump-top-section-bg {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(to bottom right, white, grey);

    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
}

.navy {
    color: $navy;
}

.peri {
    color: $peri;
}

.pump img{
    @include curve;
    margin-top: 10vh;
    width: 100%;
    height: auto;
}

.pump iframe{
    @include curve;
    margin-top: 10vh;
    width: 100%;
    height: auto;
}

/*Content*/
.intro-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.intro-wrapper img{
    width: 20vw;
    height: auto;

    border-radius: 0;

    margin-top: 0;
}

.intro-text-wrapper {
    margin-bottom: auto;
    width: 40vw;

    color: $navy;
}

.intro-text-wrapper h1{
    font-size: 6vw;
}

.text-animation-wrapper-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10vw;

    video {
        width: 100%;
        height: auto;

        margin-top: calc(var(--order) * 20vh);
        @include curve;
    }
}

.text-animation-wrapper-two {   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10vw;

    width: 70%;
    margin: auto;

    video {
        width: 100%;
        height: auto;

        margin-top: calc(var(--order) * 20vh);
        @include curve;
    }
}

.powerup-calgary-ad {
    width: 100%;
    height: auto;    
}

.ig-post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1vw;

    padding-top: 5vh;
}

.online-video-adjust {    
    width: 70%;
    aspect-ratio: 16/9;
    margin: auto;
    margin-top: clamp(75px, 6vw, 100px);
    display: block;

    @include curve;
}

.pump-digest-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.pump-pod-wrapper {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;

    background-color: $navy;
    @include curve;
}

.pump-pod-logo{
    width: 60%;
    height: auto;
    margin: auto;
}

@media screen and (max-device-width: 768px) {   
    .pump img{
        margin-top: 0;
    }
    
    .pumpCaption {
        font-size: 1em;
        width: 100%;
    }

    .intro-wrapper{
        justify-content: left;
        margin-top: 10vh;
    }

    .intro-text-wrapper h1{
        font-size: 8vw;
    }

    .intro-wrapper img{
        width: 35vw;
    }

    .text-animation-wrapper-three {
        grid-template-columns: 1fr;
    
        video {
            margin: auto;
            width: 60%;
            height: auto;
    
            margin-top: 3vh;
        }
    }

    .text-animation-wrapper-two {
        grid-template-columns: 1fr;
        width: 100%;
    
        video {
            margin: auto;
            width: 60%;
            height: auto;
    
            margin-top: 3vh;
        }
    }

    #pump-top-section-bg {
        height: 100vh;
    }

    .ig-post-grid {
        grid-template-columns: 1fr;
        padding-top: 5vh;
    }

    .pump-digest-grid {
        grid-template-columns: 1fr;
    }

    .pump-pod-wrapper {
        width: 80%;
        margin-top: 15vh;
        padding-bottom: 10vh;
    
        background-color: $navy;
        @include curve;
    }
    
    .pump-pod-logo{
        width: 60%;
        height: auto;
        margin: auto;
    }
}

@media screen and (max-device-width: 428px) {   
    .intro-wrapper{
        display: block;
    }

    .intro-text-wrapper h1{
        font-size: 12vw;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Clocking Out Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#clockingOut {
    font-family: "source-han-sans-traditional", sans-serif;
    font-style: normal;
}

#clockingOutMainInfoContainer {
    text-align: center;
}

#clockingOutHeadENG {
    font-weight: 900;
    font-size: 6em;
}

#clockingOutHeadCHN {
    font-weight: 700;
    font-size: 11em;
    line-height: 25vh;
}

#websiteSectionContainer iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.vertVideo {
    aspect-ratio: 9 / 16 !important;
}

@media screen and (max-width: 1920px) {
    #clockingOutHeadCHN {
        line-height: 20vh;
    }
}

@media screen and (max-width: 1440px) {
    #clockingOutHeadCHN {
        line-height: 15vh;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!OppHub Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*Variables*/
$green: #06B475;

.green {
    color: $green;
}

/*Content*/
#oppHub {
    font-family: "Rubik", sans-serif;
    font-style: normal;
}

/*Starting Section*/
.opphub-initial-design {
    text-align: center;
}

.opphub-initial-design img {
    width: 55%;
}

.opphub-head {
    display: flex;
    justify-content: center;
    font-size: 5em;
    font-weight: 700;
}

.video-wrapper {
    display: flex;

    margin-top: 10vh;
    margin-bottom: 10vh;
}

.video-adjust {
    width: 60%;
    height: auto;
}

.website-link-wrapper {
    margin: auto;
}

.website-link {
    font-size: 3em;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    color: $green;
}

/*Mobile Showcase*/
.mobile-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 30vh;
    margin-bottom: 20vh;
    text-align: center;
}

.large-bg-text {
    margin: auto;

    writing-mode: vertical-rl;
    font-weight: 700;
    font-size: 23vw;
}

.phone-stack img {
    width: 80%;
    height: auto;
}

.phone-gap {
    height: 150px;
}

/*IG Announcement Post*/
.opphub-ig-post-container {
    background-color: $dark;
}

.opphub-ig-post-wrapper {
    padding: 15vh $horzMarginSize;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.ig-post-head {
    grid-column: 1/3;
    margin: auto;

    font-size: 7vw;
    font-weight: 700;
    color: $light;
}

.opphub-ig-post-wrapper img {
    width: 100%;
    height: auto;
}

/*More Work*/
.opptalks-banner-text {
    display: flex;
    justify-content: space-between;

    font-size: 3.5vw;
    font-weight: 700;
}

.opptalks-wrapper img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    /*Starting Section*/
    .opphub-initial-design img {
        width: 90%;
    }

    .opphub-head {
        font-size: 8vw;
    }    

    /*Mobile Showcase*/
    .mobile-showcase {
        grid-gap: 25px;
        margin-top: 15vh;
    }

    .phone-gap {
        height: 100px;
    }

    .opphub-ig-post-wrapper {
        grid-gap: 15px;
    }
}

@media screen and (max-device-width: 768px) {
    .opphub-initial-design{
        margin: 3vh 0;
    }

    .opphub-initial-design img {
        width: 100%;
    }

    .video-wrapper {
        display: block;
        margin-top: 0;
    }

    .video-adjust {
        width: 100%;
    }

    .website-link-wrapper {
        text-align: center;
    }

    .website-link{
        font-size: 2em;
        text-decoration-thickness: 0.2rem;
    }

    .mobile-showcase {
        grid-gap: 4vw;
        margin-top: 15vh;
        margin-bottom: 5vh;
    }
    
    .phone-stack img {
        width: 100%;
    }
    
    .phone-gap {
        height: 10vh;
    }

    .opphub-ig-post-wrapper {
        padding: 10vh $horzMarginSize;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5vh;
    }
    
    .ig-post-head {
        grid-column: 1/3;
        margin: auto;
    
        font-size: 12vw;
        font-weight: 700;
        color: $light;
    }
}

@media screen and (max-device-width: 428px) {
    .opphub-head {
        display: flex;
        justify-content: center;
        font-size: 10vw;
        font-weight: 700;
    }
    
    .opphub-ig-post-wrapper {
        grid-template-columns: 1fr;
    }

    .ig-post-head {
        grid-column: 1/2;
        text-align: center;
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Fundmentals First Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#funFirst {
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
}

#funFirstIntroGraphic img{
    width: 100%;
    height: auto;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!Start Your Day With Sun
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

#startWithSunIntroGraphic {
    width: 100%;
    height: auto;
  }
  
  #startWithSunTitle {
    font-size: 6em;
    font-weight: 700;
  }
  
  #startWithSunInfoWrapper {
    position: absolute;
    top: 0;
    left: 0;
  
    padding: 10vw 5vw;
  
    width: 90vw;
    height: 90vw;
  }
  
  .startWithSunIntroInfoContainer {
    position: absolute;
    bottom: 20vw;

    width: 90vw;
  }

  #cursorGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  }