body
{
    margin: 50px;

    font-family: 'Raleway', sans-serif;
}

/*Top Section*/
.construction-text
{
    font-size: 8em;
    font-weight: 700;
    color: #121619;
}

.belt
{
    position: absolute;

    top: 190px;
}

.belt img
{
    width: 75px;
    height: auto;
}

.home-button
{
    font-size: 2em;
    font-weight: 700;
    text-align: right;

    border-bottom: 1px solid transparent;
    border-bottom-width: 0px;
    transition: border-bottom 0.5s;
}

.home-button a
{
    text-decoration: none;
    color: #121619;
    
    opacity: 50%;
    transition: opacity 0.5s;
}

.home-button:hover
{
    border-bottom: 1px solid black;
    border-bottom-width: 3px;
}

.home-button a:hover
{
    opacity: 100%;
}

/*Display*/

.display-wrapper
{
    position: absolute;

    width: 100%;
    height: auto;

    top: 175px;
    padding-left: 125px;
}

.barrel-and-bench
{
    position: absolute;
}

.step-ladder
{
    position: absolute;

    padding-top: 200px;
    padding-left: 1325px;
}

.pump
{
    position: absolute;

    padding-top: 360px;
    padding-left: 1000px;
}

.gas
{
    position: absolute;

    padding-top: 550px;
    padding-left: 1200px;
}

.gif
{
    position: absolute;

    padding-top: 300px;
    padding-left: 750px;
}

@media(max-width: 1440px)
{
    body
    {
        margin: 50px;
    
        font-family: 'Raleway', sans-serif;
    }
    
    /*Top Section*/
    .construction-text
    {
        font-size: 5.75em;
        font-weight: 700;
        color: #121619;
    }
    
    .belt
    {
        position: absolute;
    
        top: 150px;
    }
    
    .belt img
    {
        width: 68px;
        height: auto;
    }
    
    .home-button
    {
        font-size: 1.5em;
        font-weight: 700;
        text-align: right;
    
        border-bottom: 1px solid transparent;
        border-bottom-width: 0px;
        transition: border-bottom 0.5s;
    }
    
    .home-button a
    {
        text-decoration: none;
        color: #121619;
        
        opacity: 50%;
        transition: opacity 0.5s;
    }
    
    .home-button:hover
    {
        border-bottom: 1px solid black;
        border-bottom-width: 3px;
    }
    
    .home-button a:hover
    {
        opacity: 100%;
    }
    
    /*Display*/
    
    .display-wrapper
    {
        position: absolute;
    
        top: 175px;
        padding-left: 0px;
    }

    .barrel-and-bench img
    {
        width: 80%;
        height: auto;
    }
    
    .step-ladder
    {
        padding-top: 175px;
        padding-left: 1050px;
    }

    .step-ladder img
    {
        width: 80%;
        height: auto;
    }
    
    .pump
    {
        padding-top: 300px;
        padding-left: 800px;
    }

    .pump img
    {
        width: 80%;
        height: auto;
    }
    
    .gas
    {
        padding-top: 475px;
        padding-left: 975px;
    }

    .gas img
    {
        width: 80%;
        height: auto;
    }
    
    .gif
    {
        padding-top: 250px;
        padding-left: 600px;
    }

    .gif img
    {
        width: 80%;
        height: auto;
    }
}

@media(max-width: 1024px)
{
    body
    {
        margin: 50px;
    
        font-family: 'Raleway', sans-serif;
    }
    
    /*Top Section*/
    .construction-text
    {
        font-size: 5em;
        font-weight: 700;
        color: #121619;
    }
    
    .belt
    {
        position: absolute;
    
        top: 235px;
    }
    
    .belt img
    {
        width: 50px;
        height: auto;
    }
    
    .home-button
    {
        font-size: 1.5em;
        font-weight: 700;
        text-align: right;
    
        border-bottom: 1px solid transparent;
        border-bottom-width: 0px;
        transition: border-bottom 0.5s;
    }
    
    .home-button a
    {
        text-decoration: none;
        color: #121619;
        
        opacity: 50%;
        transition: opacity 0.5s;
    }
    
    .home-button:hover
    {
        border-bottom: 1px solid black;
        border-bottom-width: 3px;
    }
    
    .home-button a:hover
    {
        opacity: 100%;
    }
    
    /*Display*/
    .display-wrapper
    {
        position: absolute;
    
        top: 350px;
        padding-left: 75px;
    }

    .barrel-and-bench img
    {
        width: 58%;
        height: auto;
    }
    
    .step-ladder
    {
        padding-top: 100px;
        padding-left: 680px;
    }

    .step-ladder img
    {
        width: 50%;
        height: auto;
    }
    
    .pump
    {
        padding-top: 160px;
        padding-left: 500px;
    }

    .pump img
    {
        width: 58%;
        height: auto;
    }
    
    .gas
    {
        padding-top: 270px;
        padding-left: 625px;
    }

    .gas img
    {
        width: 55%;
        height: auto;
    }
    
    .gif
    {
        padding-top: 155px;
        padding-left: 400px;
    }

    .gif img
    {
        width: 50%;
        height: auto;
    }
}

@media(max-device-width: 768px)
{
    .construction-text
    {
        font-size: 5.75em;
        font-weight: 700;
        color: #121619;
    }
    
    .belt
    {
        position: absolute;
    
        top: 260px;
    }
    
    .belt img
    {
        width: 45px;
        height: auto;
    }
    
    .home-button
    {
        font-size: 1.5em;
        font-weight: 700;
        text-align: right;
    
        border-bottom: 1px solid transparent;
        border-bottom-width: 0px;
        transition: border-bottom 0.5s;
    }
    
    .home-button a
    {
        text-decoration: none;
        color: #121619;
        
        opacity: 100%;
        transition: opacity 0.5s;
    }

    .display-wrapper
    {
        position: absolute;
    
        top: 600px;
        padding-left: 75px;
    }
}

@media(max-device-width: 425px)
{
    .construction-text
    {
        font-size: 6em;
        
        padding-top: 50px;
    }
    
    .belt
    {
        position: absolute;
    
        top: 325px;
    }
    
    .belt img
    {
        width: 42px;
        height: auto;
    }
    
    .home-button
    {
        font-size: 2em;
        font-weight: 700;
        text-align: right;
    
        border-bottom: 1px solid transparent;
        border-bottom-width: 0px;
        transition: border-bottom 0.5s;
    }

    .display-wrapper
    {
        position: absolute;
    
        top: 850px;
        padding-left: 0px;
    }
}